In [1]:
import pandas as pd 
import json

def load_data(file_name):
    count = 0
    data = []
    with open(file_name, 'r') as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
    return data

In [2]:
df_interactions = load_data('goodreads_interactions_children.json')
df_interactions = pd.DataFrame(df_interactions)

df_children_books = load_data('goodreads_books_children.json')
df_children_books = pd.DataFrame(df_children_books)

df_reviews = load_data('goodreads_reviews_children.json')
df_reviews = pd.DataFrame(df_reviews)

In [3]:
df_interactions

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,10893214,5d0e4e8825c68740703f65a18813fc93,False,0,,Fri Feb 24 09:00:30 -0800 2017,Fri Feb 24 09:00:30 -0800 2017,,
1,8842281e1d1347389f2ab93d60773d4d,33282947,f171a68daa8092d8aea3dccc2e025a81,False,0,,Fri Feb 10 10:47:53 -0800 2017,Fri Feb 10 10:48:21 -0800 2017,,
2,8842281e1d1347389f2ab93d60773d4d,11387515,2fd3cd1acb30b099c135e358669639da,False,0,,Thu Jan 26 13:35:10 -0800 2017,Thu Jan 26 13:35:10 -0800 2017,,
3,8842281e1d1347389f2ab93d60773d4d,24396144,d210e41fcc7e6dcd6ae896844a38a024,False,0,,Thu Dec 15 15:37:54 -0800 2016,Thu Dec 15 15:37:55 -0800 2016,,
4,8842281e1d1347389f2ab93d60773d4d,20484662,a99f9fa4ec4fd94cc2419c78af2086a8,False,0,,Sun May 15 14:49:50 -0700 2016,Sun May 15 14:49:51 -0700 2016,,
...,...,...,...,...,...,...,...,...,...,...
10059344,6a78dcbe905b4caf5566301989327547,3636,48a2e637d0df4edae03e6615fb4f1908,True,4,,Mon Jun 04 17:05:54 -0700 2012,Mon Jun 04 17:05:58 -0700 2012,,
10059345,037adfe7bd500ce1e85f8647e3bb26b6,378,db132c1f9294f0089bc899166278bbc3,False,0,,Tue Feb 12 16:50:37 -0800 2013,Tue Feb 12 16:50:37 -0800 2013,,
10059346,037adfe7bd500ce1e85f8647e3bb26b6,233818,2e031f4f9fb6c58ffb6847f2e34415d4,True,4,,Tue Feb 12 16:26:25 -0800 2013,Tue Feb 12 16:26:25 -0800 2013,,
10059347,037adfe7bd500ce1e85f8647e3bb26b6,3636,4b516a0ac05ef8c3e489d2ce8c442b96,True,5,,Tue Feb 12 16:20:27 -0800 2013,Tue Feb 12 16:20:27 -0800 2013,,
10059348,d0f6d1a4edcab80a6010cfcfeda4999f,8127,d68a98975f63ef3f3015a7daadafbdcb,True,4,,Mon Jun 04 18:17:20 -0700 2012,Mon Jun 04 18:17:27 -0700 2012,,

In [4]:
df_children_books

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,1599150603,7,[],US,,"[{'count': '56', 'name': 'to-read'}, {'count':...",,false,4.13,B00DU10PUG,...,9,,2006,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,287141,46,278578,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,1934876569,6,[151854],US,,"[{'count': '515', 'name': 'to-read'}, {'count'...",,false,4.22,,...,3,,2009,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",,false,4.43,B017RORXNI,...,9,,1995,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven
3,0915190575,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,4.29,,...,,,,https://www.goodreads.com/book/show/3209312-mo...,https://s.gr-assets.com/assets/nophoto/book/11...,3209312,11,3242879,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,1416904999,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,3.57,,...,6,,2005,https://www.goodreads.com/book/show/1698376.Wh...,https://s.gr-assets.com/assets/nophoto/book/11...,1698376,23,1695373,What Do You Do?,What Do You Do?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124077,,1,[],US,,"[{'count': '11', 'name': 'to-read'}, {'count':...",B00SDOETB6,true,4.00,B00SDOETB6,...,,,,https://www.goodreads.com/book/show/24558598-c...,https://s.gr-assets.com/assets/nophoto/book/11...,24558598,5,44162564,Children's Books: Oliver and the Dragon,Children's Books: Oliver and the Dragon
124078,,7,[],US,en-GB,"[{'count': '3379', 'name': 'to-read'}, {'count...",B005IH0320,true,4.27,,...,10,,2011,https://www.goodreads.com/book/show/13057172-g...,https://s.gr-assets.com/assets/nophoto/book/11...,13057172,839,17073902,Gangsta Granny,Gangsta Granny
124079,0061960314,13,[],US,,"[{'count': '2805', 'name': 'to-read'}, {'count...",,false,4.29,B008B9HNNY,...,4,,2010,https://www.goodreads.com/book/show/7925060-in...,https://s.gr-assets.com/assets/nophoto/book/11...,7925060,40,7269944,Instructions,Instructions
124080,0689852959,1,[],US,,"[{'count': '22', 'name': 'to-read'}, {'count':...",,false,4.36,B003L77WAA,...,9,,2002,https://www.goodreads.com/book/show/331839.Jac...,https://s.gr-assets.com/assets/nophoto/book/11...,331839,18,25313618,Jacqueline Kennedy Onassis: Friend of the Arts,Jacqueline Kennedy Onassis: Friend of the Arts
124081,0765197456,6,[],US,,"[{'count': '37', 'name': 'to-read'}, {'count':...",,false,4.00,,...,8,,1996,https://www.goodreads.com/book/show/2342551.Th...,https://s.gr-assets.com/assets/nophoto/book/11...,2342551,36,2349247,The Children's Classic Poetry Collection,The Children's Classic Poetry Collection

In [5]:
df_reviews

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,,,7,0
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,Tue Jan 24 00:00:00 -0800 2017,,4,0
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...,Thu Oct 23 13:46:20 -0700 2014,Thu Oct 23 13:47:00 -0700 2014,,,6,1
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...,Mon Dec 02 10:43:59 -0800 2013,Wed Mar 22 11:47:25 -0700 2017,,,5,4
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!,Wed May 11 22:38:11 -0700 2011,Sun Jan 29 15:56:41 -0800 2012,Wed May 11 00:00:00 -0700 2011,Wed May 11 00:00:00 -0700 2011,5,0
...,...,...,...,...,...,...,...,...,...,...,...
734635,480ac8b4df39533a6c7fe6ae109aa56a,65112,6251b6332ee9f898fe0e975821eb747e,2,Does not give a satisfying ending to the serie...,Sun Apr 13 04:28:36 -0700 2008,Sun Apr 13 04:28:36 -0700 2008,,,0,0
734636,afcd096765a8c354be0706ab1324999b,555999,a4f8b16d5c0c5dc08d0f3fa118a262b4,5,My mother gave me this book as a gift... it's ...,Tue Jan 08 07:29:27 -0800 2008,Tue Jan 08 07:38:02 -0800 2008,Sat Dec 01 00:00:00 -0800 2007,,0,0
734637,d94c83867337514c94738b57a1d19677,389627,a5964e464961cf0185d31e00a7a9ffac,2,"If I were a middle grade kid, I'd prolly give ...",Fri Jul 20 08:53:20 -0700 2012,Sun Jan 27 03:23:27 -0800 2013,Sun Jan 27 03:23:27 -0800 2013,Tue Jan 22 07:15:55 -0800 2013,0,0
734638,48a10d546ba07520ce194dc18e687be4,378,42729a1e85ca16fa5e4a44ffccd020e4,5,I have a limited selection of childhood books ...,Fri Jun 08 18:42:18 -0700 2012,Fri Jun 08 18:53:57 -0700 2012,,,0,0
734639,da6f9516279ed671027308abd21318bd,2370909,47658630f9a764af427068b618ecbf02,4,I collect books written and illustrated by Gor...,Tue Jan 15 10:37:13 -0800 2013,Thu Feb 26 04:43:33 -0800 2015,,,0,1