In [55]:
import pandas as pd 
import json

def load_data(file_name):
    data = []
    with open(file_name, 'r') as fin:
        for l in fin:
            d = json.loads(l)
            data.append(d)
    return data

In [56]:
df_children_books = load_data('goodreads_books_children.json')
df_children_books = pd.DataFrame(df_children_books)

df_reviews = load_data('goodreads_reviews_children.json')
df_reviews = pd.DataFrame(df_reviews)

df_interactions_filtered = pd.read_csv('df_interactions_filtered.csv')

# EDA

In [57]:
print(df_children_books.columns)
print(df_children_books['country_code'].unique())
print(df_children_books.groupby('is_ebook').size())
print(df_children_books['publication_year'].unique())

Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'link', 'authors',
       'publisher', 'num_pages', 'publication_day', 'isbn13',
       'publication_month', 'edition_information', 'publication_year', 'url',
       'image_url', 'book_id', 'ratings_count', 'work_id', 'title',
       'title_without_series'],
      dtype='object')
['US']
is_ebook
false    114606
true       9476
dtype: int64
['2006' '2009' '1995' '' '2005' '1999' '2008' '1976' '2013' '1941' '2011'
 '2017' '2001' '2012' '2002' '2014' '1998' '1993' '2004' '1949' '1989'
 '2010' '1991' '1967' '1957' '1987' '1984' '2003' '1996' '1997' '2016'
 '2000' '2015' '1979' '1988' '1970' '1975' '1994' '2007' '1980' '1977'
 '1978' '1986' '1964' '1955' '1968' '1992' '1985' '1956' '1929' '1990'
 '1983' '1974' '1874' '1971' '1972' '1961' '1931' '1959' '1966' '1952'
 '1958' '1973' '1981' '1923' '1982' '14' '1962' '1965' '1845' '2916'
 '1945' '1937' '1938' '1953' '1378' '1963' '1901' '2018' '16' '1960'
 '1943' '1922' '1837' '1947' '1969' '1950' '1946' '1954' '21017' '1383'
 '1948' '2091' '1939' '1932' '1916' '1889' '1900' '1940' '1914' '1906'
 '1933' '1951' '1846' '1942' '1921' '1918' '1944' '1934' '1936' '1910'
 '1930' '1925' '214' '1928' '1909' '1877' '207' '2030' '1926' '1919'
 '1819' '20012' '20011' '1907' '1935' '1871' '1881' '15' '5' '1927' '104'
 '1924' '1390' '1903' '1904' '1915' '1896' '1908' '1912' '1395' '1387'
 '211' '201' '2104' '1899' '1848' '32' '1888' '1920' '65535' '1838' '1917'
 '1866' '1392' '20116' '1869' '200' '1913' '215' '1853' '19983' '192'
 '1911' '0' '1895' '3024' '1855' '1835' '1902' '1897' '1381' '1393' '1894'
 '1905' '1887' '1884' '1893' '199' '1384' '1394' '1878' '1865' '213'
 '2106' '1697' '13' '20125' '24' '20067' '2103' '1861']

In [58]:
df_children_books_final = df_children_books[['isbn', 'isbn13', 'book_id', 'title', 'authors', 'num_pages', 'language_code', 'description', 'format', 'is_ebook', 'popular_shelves', 'average_rating', 'ratings_count', 'text_reviews_count']]
print(df_children_books_final.shape)
df_children_books_final.head(5)

(124082, 14)

,isbn,isbn13,book_id,title,authors,num_pages,language_code,description,format,is_ebook,popular_shelves,average_rating,ratings_count,text_reviews_count
0,1599150603,9781599150604,287141,The Aeneid for Boys and Girls,"[{'author_id': '3041852', 'role': ''}]",162,,"Relates in vigorous prose the tale of Aeneas, ...",Paperback,false,"[{'count': '56', 'name': 'to-read'}, {'count':...",4.13,46,7
1,1934876569,9781934876565,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,"[{'author_id': '19158', 'role': ''}]",216,,"To Kara's astonishment, she discovers that a p...",Paperback,false,"[{'count': '515', 'name': 'to-read'}, {'count'...",4.22,98,6
2,0590417010,9780590417013,89378,Dog Heaven,"[{'author_id': '5411', 'role': ''}]",40,eng,In Newbery Medalist Cynthia Rylant's classic b...,Hardcover,false,"[{'count': '450', 'name': 'to-read'}, {'count'...",4.43,1331,193
3,0915190575,9780915190577,3209312,"Moths and Mothers, Feathers and Fathers: A Sto...","[{'author_id': '589328', 'role': ''}, {'author...",,,,,false,"[{'count': '8', 'name': 'to-read'}, {'count': ...",4.29,11,4
4,1416904999,9781416904991,1698376,What Do You Do?,"[{'author_id': '169159', 'role': ''}]",24,,WHAT DO YOU DO?\nA hen lays eggs...\nA cow giv...,Board Book,false,"[{'count': '8', 'name': 'to-read'}, {'count': ...",3.57,23,4

In [59]:
print(df_interactions_filtered.columns)
print(df_interactions_filtered.shape)
print(sum(df_interactions_filtered['read_at'].isnull()))
print(sum(df_interactions_filtered['started_at'].isnull()))

Index(['user_id', 'book_id', 'review_id', 'is_read', 'rating',
       'review_text_incomplete', 'date_added', 'date_updated', 'read_at',
       'started_at'],
      dtype='object')
(6626989, 10)
4742229
5639401

In [60]:
df_interactions_final = df_interactions_filtered.drop(['is_read', 'date_updated', 'read_at', 'started_at'], axis=1)
df_interactions_final

,user_id,book_id,review_id,rating,review_text_incomplete,date_added
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015
1,8842281e1d1347389f2ab93d60773d4d,18296097,bc9cff98f54be3b2b8c5b34598a7546c,5,NaN,Mon Sep 21 08:16:57 -0700 2015
2,8842281e1d1347389f2ab93d60773d4d,817720,75fd46041466ceb406b7fd69b089b9c5,5,NaN,Wed May 20 21:29:23 -0700 2015
3,8842281e1d1347389f2ab93d60773d4d,502362,be1ad51fa3d519e39050d2a61ffab534,5,NaN,Tue Mar 31 20:00:12 -0700 2015
4,8842281e1d1347389f2ab93d60773d4d,1969280,5809d5592ee32745e048a9c67ac27100,5,NaN,Sat Nov 08 08:56:58 -0800 2014
...,...,...,...,...,...,...
6626984,6a78dcbe905b4caf5566301989327547,378,ed74a6ebfc19334b9d06878a97757e4a,4,NaN,Mon Jun 04 17:06:57 -0700 2012
6626985,6a78dcbe905b4caf5566301989327547,3636,48a2e637d0df4edae03e6615fb4f1908,4,NaN,Mon Jun 04 17:05:54 -0700 2012
6626986,037adfe7bd500ce1e85f8647e3bb26b6,233818,2e031f4f9fb6c58ffb6847f2e34415d4,4,NaN,Tue Feb 12 16:26:25 -0800 2013
6626987,037adfe7bd500ce1e85f8647e3bb26b6,3636,4b516a0ac05ef8c3e489d2ce8c442b96,5,NaN,Tue Feb 12 16:20:27 -0800 2013
6626988,d0f6d1a4edcab80a6010cfcfeda4999f,8127,d68a98975f63ef3f3015a7daadafbdcb,4,NaN,Mon Jun 04 18:17:20 -0700 2012

In [61]:
print(df_reviews.columns)

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments'],
      dtype='object')

In [62]:
df_reviews_final = df_reviews[['review_id', 'n_votes']]
df_reviews_final

                               review_id  n_votes
0       f4b4b050f4be00e9283c92a814af2670        7
1       22d424a2b0057b18fb6ecf017af7be92        4
2       50ed4431c451d5677d98dd25ca8ec106        6
3       1e4de11dd4fa4b7ffa59b6c69a6b28e9        5
4       2065145714bf747083a1c9ce81d5c4fe        5
...                                  ...      ...
734635  6251b6332ee9f898fe0e975821eb747e        0
734636  a4f8b16d5c0c5dc08d0f3fa118a262b4        0
734637  a5964e464961cf0185d31e00a7a9ffac        0
734638  42729a1e85ca16fa5e4a44ffccd020e4        0
734639  47658630f9a764af427068b618ecbf02        0

[734640 rows x 2 columns]

In [63]:
df_interactions_final_merged = df_interactions_final.merge(df_reviews_final, how='left')
df_interactions_final_merged

,user_id,book_id,review_id,rating,review_text_incomplete,date_added,n_votes
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015,7.0
1,8842281e1d1347389f2ab93d60773d4d,18296097,bc9cff98f54be3b2b8c5b34598a7546c,5,NaN,Mon Sep 21 08:16:57 -0700 2015,NaN
2,8842281e1d1347389f2ab93d60773d4d,817720,75fd46041466ceb406b7fd69b089b9c5,5,NaN,Wed May 20 21:29:23 -0700 2015,NaN
3,8842281e1d1347389f2ab93d60773d4d,502362,be1ad51fa3d519e39050d2a61ffab534,5,NaN,Tue Mar 31 20:00:12 -0700 2015,NaN
4,8842281e1d1347389f2ab93d60773d4d,1969280,5809d5592ee32745e048a9c67ac27100,5,NaN,Sat Nov 08 08:56:58 -0800 2014,NaN
...,...,...,...,...,...,...,...
6626984,6a78dcbe905b4caf5566301989327547,378,ed74a6ebfc19334b9d06878a97757e4a,4,NaN,Mon Jun 04 17:06:57 -0700 2012,NaN
6626985,6a78dcbe905b4caf5566301989327547,3636,48a2e637d0df4edae03e6615fb4f1908,4,NaN,Mon Jun 04 17:05:54 -0700 2012,NaN
6626986,037adfe7bd500ce1e85f8647e3bb26b6,233818,2e031f4f9fb6c58ffb6847f2e34415d4,4,NaN,Tue Feb 12 16:26:25 -0800 2013,NaN
6626987,037adfe7bd500ce1e85f8647e3bb26b6,3636,4b516a0ac05ef8c3e489d2ce8c442b96,5,NaN,Tue Feb 12 16:20:27 -0800 2013,NaN
6626988,d0f6d1a4edcab80a6010cfcfeda4999f,8127,d68a98975f63ef3f3015a7daadafbdcb,4,NaN,Mon Jun 04 18:17:20 -0700 2012,NaN

# Data Cleaning

## isbn and isbn13  
1. remove rows with both empty isbn and isbn13 
2. create new column called 'isbn_combined'. if isbn present, take value from isbn column, else, take value from isbn13 column. 

rationale: prep data for web scraping

In [64]:
print(sum((df_children_books_final['isbn13'] == '') & (df_children_books_final['isbn'] == '')))
print(sum((df_children_books_final['isbn'] == '')))
print(sum((df_children_books_final['isbn13'] == '')))

12924
20199
15489

In [65]:
df_children_books_final.drop(
    df_children_books_final[(df_children_books_final['isbn13'] == '') & (df_children_books_final['isbn'] == '')].index,
    inplace=True
)
df_children_books_final.shape

/var/folders/pj/nr405prs69j7fp08s_fm2qc40000gn/T/ipykernel_7275/2325941102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_children_books_final.drop(

(111158, 14)

In [67]:

df_children_books_final['isbn_combined'] = df_children_books_final.apply(
    lambda row: row['isbn13'] if row['isbn'] == '' else row['isbn'], axis=1
)
print(sum(df_children_books_final['isbn_combined'] == ''))
df_children_books_final

0

/var/folders/pj/nr405prs69j7fp08s_fm2qc40000gn/T/ipykernel_7275/3581842822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_children_books_final['isbn_combined'] = df_children_books_final.apply(

,isbn,isbn13,book_id,title,authors,num_pages,language_code,description,format,is_ebook,popular_shelves,average_rating,ratings_count,text_reviews_count,isbn_combined
0,1599150603,9781599150604,287141,The Aeneid for Boys and Girls,"[{'author_id': '3041852', 'role': ''}]",162,,"Relates in vigorous prose the tale of Aeneas, ...",Paperback,false,"[{'count': '56', 'name': 'to-read'}, {'count':...",4.13,46,7,1599150603
1,1934876569,9781934876565,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,"[{'author_id': '19158', 'role': ''}]",216,,"To Kara's astonishment, she discovers that a p...",Paperback,false,"[{'count': '515', 'name': 'to-read'}, {'count'...",4.22,98,6,1934876569
2,0590417010,9780590417013,89378,Dog Heaven,"[{'author_id': '5411', 'role': ''}]",40,eng,In Newbery Medalist Cynthia Rylant's classic b...,Hardcover,false,"[{'count': '450', 'name': 'to-read'}, {'count'...",4.43,1331,193,0590417010
3,0915190575,9780915190577,3209312,"Moths and Mothers, Feathers and Fathers: A Sto...","[{'author_id': '589328', 'role': ''}, {'author...",,,,,false,"[{'count': '8', 'name': 'to-read'}, {'count': ...",4.29,11,4,0915190575
4,1416904999,9781416904991,1698376,What Do You Do?,"[{'author_id': '169159', 'role': ''}]",24,,WHAT DO YOU DO?\nA hen lays eggs...\nA cow giv...,Board Book,false,"[{'count': '8', 'name': 'to-read'}, {'count': ...",3.57,23,4,1416904999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124075,,9781406368475,30164426,Flora and Ulysses: The Illuminated Adventures,"[{'author_id': '13663', 'role': ''}]",251,eng,Holy unanticipated occurrences! A cynic meets ...,Paperback,false,"[{'count': '7743', 'name': 'to-read'}, {'count...",3.87,12,4,9781406368475
124076,1575054035,9781575054032,823094,"To Root, to Toot, to Parachute","[{'author_id': '44955', 'role': ''}, {'author_...",,,Rhyming text and illustrations of comical cats...,Hardcover,false,"[{'count': '169', 'name': 'to-read'}, {'count'...",4.05,240,36,1575054035
124079,0061960314,9780061960314,7925060,Instructions,"[{'author_id': '1221698', 'role': ''}, {'autho...",40,,"""A perfect reminder to always be on the lookou...",Hardcover,false,"[{'count': '2805', 'name': 'to-read'}, {'count...",4.29,40,13,0061960314
124080,0689852959,9780689852954,331839,Jacqueline Kennedy Onassis: Friend of the Arts,"[{'author_id': '10681', 'role': ''}, {'author_...",176,,One of the most popular series ever published ...,Paperback,false,"[{'count': '22', 'name': 'to-read'}, {'count':...",4.36,18,1,0689852959
124081,0765197456,9780765197450,2342551,The Children's Classic Poetry Collection,"[{'author_id': '82312', 'role': 'Editor'}]",96,,"Gathers poems by William Blake, Emily Bronte, ...",Hardcover,false,"[{'count': '37', 'name': 'to-read'}, {'count':...",4.00,36,6,0765197456

In [ ]:
def categorize_format(format_value):
    if 'ebook' in format_value.lower() or 'kindle' in format_value.lower() or 'pdf' in format_value.lower():
        return 'Digital'
    elif 'audio' in format_value.lower() or 'audiobook' in format_value.lower() or 'cd' in format_value.lower():
        return 'Audio'
    elif 'paper' in format_value.lower() or 'hardcover' in format_value.lower() or 'softcover' in format_value.lower():
        return 'Physical'
    elif 'board' in format_value.lower() or 'novelty' in format_value.lower():
        return 'Specialty'
    else:
        return 'Other'