# User-Based Collaborative Filtering for Book Recommendation

In [232]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
df_books_final = pd.read_csv('df_books_final.csv')
df_train_interactions = pd.read_csv('train_interactions.csv')
df_test_interactions = pd.read_csv('test_interactions.csv')

In [234]:
df_books_final.head(3)

,book_id,title,description,average_rating,ratings_count,text_reviews_count,top_popular_shelves,author_ids,format_Audio,format_Digital,...,lang_tha,lang_tr,lang_tur,lang_ukr,lang_vi,lang_vie,lang_zh,length_long,length_medium,length_short
0,1882090,"Behave Yourself, Bethany Brant",A preacher's daughter with lots of curiosity a...,-1.028630,-0.059069,-0.136278,"[{'count': '1', 'name': 'mrs-withdrawn'}, {'co...",['151369'],False,False,...,False,False,False,False,False,False,False,False,True,False
1,166120,Ghosthunters And The Incredibly Revolting Ghost,A $2.99 value-priced edition of one of our bes...,-0.690046,-0.059069,-0.126186,"[{'count': '9', 'name': 'owned'}, {'count': '9...",['15873'],False,False,...,False,False,False,False,False,False,False,False,True,False
2,8608741,Attack of the Chicken Nugget Man: A National T...,Third-grader Chris Robb just can't seem to do ...,-0.597705,-0.059069,-0.102639,"[{'count': '2', 'name': 'books-i-wrote'}, {'co...",['2868520'],False,False,...,False,False,False,False,False,False,False,False,True,False

In [235]:
df_train_interactions.head(5)

   user_id  book_id  rating  n_votes  review_age  sentiment
0        0     2497       0      NaN        2802   0.406046
1        0     5556       4      0.0        2809  -0.224400
2        0     1330       4      0.0        2888   0.808300
3        0      177       4      0.0        2907   0.874500
4        1    92062       4      NaN        2549   0.527973

In [34]:
user_item_interactions = df_train_interactions[['user_id', 'book_id', 'rating']]
user_item_interactions

        user_id  book_id  rating
0             0     2497       0
1             0     5556       4
2             0     1330       4
3             0      177       4
4             1    92062       4
...         ...      ...     ...
885096    34192    72240       5
885097    34192    34391       4
885098    34192      782       3
885099    34192       84       4
885100    34192      177       4

[885101 rows x 3 columns]

In [236]:
# number of neighbors of user
N_NEIGHBORS = 10

# number of recommendations
N_RECOMMENDATIONS = 5

In [237]:
def read_ratings(df):
    """
    Read the raw data of the book ratings.

    Returns a list of tuples:
    (user id, book_id, rating)
    """

    data = []
    for _, row in df.iterrows():
        user_id = row['user_id']
        book_id = row['book_id']
        rating = row['rating']
        data.append((user_id, book_id, rating))

    return data

In [238]:
ratings = read_ratings(df_train_interactions)
ratings = pd.DataFrame(data=ratings, columns=['user', 'book', 'rating'])
ratings.head()

   user   book  rating
0     0   2218       5
1     0   3922       4
2     0    762       4
3     0  18839       5
4     0   2395       4

In [239]:
ratings.head(3)

   user    book  rating
0   0.0  2497.0     0.0
1   0.0  5556.0     4.0
2   0.0  1330.0     4.0

In [240]:
ratings[ratings < 0].notna().sum()

user      0
book      0
rating    0
dtype: int64

In [89]:
# ratings_raw = ratings.copy()
ratings = ratings.pivot(index='user', columns='book', values='rating')

In [241]:
ratings = df_train_interactions.pivot(index='user_id', columns='book_id', values='rating')

In [242]:
ratings.shape

(885101, 3)

In [243]:
ratings.head(10)

book,5,50,93,236,244,302,314,330,881,903,...,35297101,35429280,35440603,35479935,35546694,35616438,35757340,35757419,36131198,36311957
user,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Creating Affinity Matrix Based on Ratings

In [22]:
from scipy.sparse import csr_matrix

In [27]:
user_book_matrix = ratings.fillna(0)

In [28]:
user_book_matrix.head(10)

book,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,57048.0,57049.0,57050.0,57051.0,57052.0,57053.0,57054.0,57055.0,57056.0,57057.0
user,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
affinity_matrix = csr_matrix(user_book_matrix.values)

### Similarity between users

In [244]:
def pearson_similarity(v1, v2):
    """
    Compute the Pearson correlation between to ratings vectors.

    pd.corr() function can handle missing data.

    parameters:
    - v1, v2: pd.Series, ratings vectors

    returns:
    - float

    """

    pearson = v1.corr(v2)
    # pearson = user_book_matrix.T.corr(method='pearson')

    return pearson

In [245]:
def compute_similarities(user_id, ratings_matrix):
    """
    Compute the similarity of a given user with all the other users in the dataset.

    Remove the similarity value for the given user from the result.

    returns:
        - a pd.Series with the user id's as index, and similarity as series values
    """

    # get ratings of user to re-use in the similarity computation
    ratings_user = ratings_matrix.loc[user_id,:]

    # calculate the similarity between the given user and the other users
    similarities = ratings_matrix.apply(
        lambda row: pearson_similarity(ratings_user, row),
        axis=1)

    similarities = similarities.to_frame(name='similarity')

    # find most similar users to the given user
    similarities = similarities.sort_values(by='similarity', ascending=False)

    # drop the similarity of the user (should be ~1 anyways)
    similarities = similarities.drop(user_id)

    return similarities

In [270]:
def compute_similarities(ratings_matrix):
    """
    Compute the similarity matrix between all users in the dataset using a CSR matrix.
    
    Args:
        ratings_matrix: The ratings matrix in CSR format (sparse matrix).
    
    Returns:
        A pandas DataFrame with users as both row and column indices, and similarity as values.
    """
    # Get the number of users
    num_users = ratings_matrix.shape[0]
    
    # Initialize an empty similarity matrix (size: num_users x num_users)
    similarity_matrix = np.zeros((num_users, num_users))
    
    # Iterate through each pair of users
    for user_id in range(num_users):
        # Extract the ratings of the given user (row in the CSR matrix)
        user_ratings = ratings_matrix[user_id].toarray().flatten()

        for other_user_id in range(user_id + 1, num_users):  # To avoid redundant calculations
            # Extract the ratings of the other user (row in the CSR matrix)
            other_user_ratings = ratings_matrix[other_user_id].toarray().flatten()

            # Compute the Pearson similarity between the two users
            similarity = pearson_similarity(user_ratings, other_user_ratings)

            # Assign the computed similarity to both [user_id, other_user_id] and [other_user_id, user_id]
            similarity_matrix[user_id, other_user_id] = similarity
            similarity_matrix[other_user_id, user_id] = similarity

    # Convert the similarity matrix to a pandas DataFrame
    similarity_df = pd.DataFrame(similarity_matrix, index=range(num_users), columns=range(num_users))
    
    return similarity_df

def pearson_similarity(user_ratings, other_user_ratings):
    """
    Compute Pearson similarity between two rating vectors.
    
    Args:
        user_ratings: A 1D numpy array of ratings for the given user.
        other_user_ratings: A 1D numpy array of ratings for the other user.
        
    Returns:
        A Pearson similarity value between -1 and 1.
    """
    # Only consider the ratings that are not zero (i.e., non-missing ratings)
    mask = (user_ratings > 0) & (other_user_ratings > 0)
    
    # Extract the ratings that are common (both users rated the same item)
    common_ratings_user = user_ratings[mask]
    common_ratings_other_user = other_user_ratings[mask]
    
    if len(common_ratings_user) > 1:
        # Calculate Pearson correlation
        return np.corrcoef(common_ratings_user, common_ratings_other_user)[0, 1]
    else:
        # If not enough common ratings, return NaN or 0
        return np.nan

In [63]:
user_item_interactions

        user_id  book_id  rating  user_idx  item_idx
0             0     2497       0         0      2358
1             0     5556       4         0      5222
2             0     1330       4         0      1270
3             0      177       4         0       169
4             1    92062       4         1     82304
...         ...      ...     ...       ...       ...
885096    34192    72240       5     34192     64111
885097    34192    34391       4     34192     31343
885098    34192      782       3     34192       753
885099    34192       84       4     34192        79
885100    34192      177       4     34192       169

[885101 rows x 5 columns]

In [247]:
vec = affinity_matrix[0].toarray().flatten()

In [285]:
book_ratings = ratings[39343].dropna()
user_ids = book_ratings.index
user_vectors = ratings.loc[user_ids]

In [240]:
user_ids

Index([1.0, 9747.0], dtype='float64', name='user')

In [244]:
user_vectors

book,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,57048.0,57049.0,57050.0,57051.0,57052.0,57053.0,57054.0,57055.0,57056.0,57057.0
user,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
user1 = user_vectors.iloc[0]
user9747 = user_vectors.iloc[1]

In [267]:
user1.corr(user9747)

C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

nan

In [268]:
# Select the two user vectors
user1_vector = user_vectors.iloc[0]
user9747_vector = user_vectors.iloc[1]

# Drop NaN values from both user vectors to get only the common ratings
common_ratings = user1_vector.dropna().index.intersection(user9747_vector.dropna().index)

    # all the items a user has not rated, that can be recommended
    all_items = ratings.loc[user_id,:]
    unrated_items = all_items.loc[all_items.isnull()]

    # convert the index with item ids into Series values
    unrated_items = unrated_items.index.to_series(name='item_ids').reset_index(drop=True)
    print(unrated_items)
    print('User {} has {} unrated items.'.format(user_id, len(unrated_items)))

    # compute user similarities
    similarities = compute_similarities(user_id, ratings)

    # generate predictions for unseen items based on the user similarity data
    predictions = unrated_items.apply(lambda d: predict_rating(d, ratings, similarities, N=n_neighbors))
    predicitions_df = pd.DataFrame(predictions.tolist(), columns=['book_id', 'predictions', 'number_of_similar_users'])

    # sort items by highest predicted rating and number of similar users
    predicitions_df = predicitions_df.sort_values(by=['predictions', 'number_of_similar_users'], ascending=False)

    # recommend top N items
    recommends = predicitions_df.head(n_recomm)

    return recommends['book_id']

Not enough overlapping ratings to calculate Pearson correlation.

In [286]:
sim_scores = compute_similarities(2, affinity_matrix)
sim_values = sim_scores[sim_scores.notna()]

0               5
1              50
2              93
3             236
4             244
           ...
14633    35616438
14634    35757340
14635    35757419
14636    36131198
14637    36311957
Name: item_ids, Length: 14638, dtype: int64
User 0 has 14638 unrated items.

C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [48]:
sim_values.describe()

count    4904.000000
mean        0.128089
std         0.698966
min        -1.000000
25%        -0.500000
50%         0.238271
75%         0.790569
max         1.000000
dtype: float64

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [279]:
userid = 11
sim_scores = pd.DataFrame(user_similarity_matrix)[userid]
nonzero_idx = np.nonzero(pd.DataFrame(user_similarity_matrix)[userid])[0]
nonzero_idx = nonzero_idx[nonzero_idx != userid]
sim_scores[sim_scores.index.isin(nonzero_idx)].describe()
# sim_scores
# nonzero_idx

count    1372.000000
mean        0.071419
std         0.066693
min         0.005656
25%         0.037759
50%         0.054378
75%         0.081319
max         0.779266
Name: 11, dtype: float64

In [280]:
len(df_train_interactions[df_train_interactions['user_id'] == 2])

,user_id,book_id,rating
0,1,39343,2
1,1,21648,0
2,2,7794,4

In [58]:
# test similaritiy scores
items_to_recommend = get_collaborative_filtering_recommendations(user_similarity_matrix, 2, k, sim_threshold)
items_to_recommend[np.nonzero(items_to_recommend)[0]]

NameError: name 'user_similarity_matrix' is not defined

In [123]:
items_to_recommend = get_collaborative_filtering_recommendations(user_similarity_matrix, 2, k, sim_threshold)
print('Number of recommendations:', len(items_to_recommend))
items_to_recommend

Number of recommendations: 0

C:\Users\rayna\AppData\Local\Temp\ipykernel_40120\2936419507.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_item_interactions['user_id'] = encoder.fit_transform(user_item_interactions['user_id'])
C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\scipy\sparse\_compressed.py:290: SparseEfficiencyWarning: Comparing a sparse matrix with a scalar greater than zero using < is inefficient, try using >= instead.
  warn(bad_scalar_msg, SparseEfficiencyWarning)
C:\Users\rayna\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\scipy\sparse\_index.py:143: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Empty DataFrame
Columns: [book_id, average_rating, ratings_count, text_reviews_count, top_popular_shelves, author_ids, title_tfidf, description_word2vec, format_Audio, format_Digital, format_Other, format_Physical, format_Specialty, lang_afr, lang_ar, lang_ben, lang_bg, lang_bn, lang_bos, lang_bs, lang_bul, lang_cat, lang_cpf, lang_cs, lang_cy, lang_cze, lang_da, lang_dan, lang_de, lang_dum, lang_egy, lang_en, lang_eo, lang_es, lang_est, lang_eus, lang_fa, lang_fil, lang_fin, lang_fr, lang_gle, lang_glg, lang_gre, lang_gu, lang_guj, lang_heb, lang_hi, lang_hmn, lang_hun, lang_hye, lang_id, lang_ind, lang_isl, lang_it, lang_iu, lang_iw, lang_ja, lang_kat, lang_ko, lang_la, lang_lat, lang_lav, lang_lit, lang_mal, lang_mlt, lang_msa, lang_mul, lang_nav, lang_nl, lang_nno, lang_no, lang_non, lang_nor, lang_oci, lang_per, lang_pes, lang_pol, lang_pt, lang_ro, lang_roh, lang_ru, lang_rum, lang_sco, lang_scr, lang_sin, lang_slo, lang_slv, lang_smn, lang_so, lang_srp, lang_sv, lang_swe, lang_tg, lang_tgl, lang_tha, lang_tl, lang_tr, lang_tur, lang_ukr, lang_vi, ...]
Index: []

[0 rows x 106 columns]

In [51]:
def read_titles(df):
    """
    Read the mapping of book id -> book title

    Returns a dictionary
    {book id -> book title}
    """
    data = df.set_index("book_id")["title"].to_dict()
    return data

In [285]:
# book_titles = read_titles(df_books_final)

In [84]:
def recommend(user_id, ratings, book_titles, n_neighbors=10, n_recomm=5):
    """

    Recommend N books for a given user based on ratings data.

    1. get the ratings of the user
    2. get the books that the user has not rated
    3. compute the similarities between the user and the other users
    4. generate book ratings predictions for the user based on the similarities with other users
    5. find the N books with the highest predicted ratings

    parameters:
    - user_id: int, user to generate recommendations for
    - ratings: pd.DataFrame, user-book ratings
    - book_titles: dict, mapping of (book id -> book title)
    - n_neighbors: int: the number of neighbors to use to generate rating predictions
    - n_recomm: int, number of books to recommend

    returns:
    - pd.DataFrame with [book_id, rating, book title]

    """

    # get the ratings of the user
    ratings_user = ratings.loc[user_id, :]

    # all the items a user has not rated, that can be recommended
    all_items = ratings.loc[user_id,:]
    unrated_items = all_items.loc[all_items.isnull()]

    # convert the index with item ids into Series values
    unrated_items = unrated_items.index.to_series(name='item_ids').reset_index(drop=True)
    print(unrated_items)
    print('User {} has {} unrated items.'.format(user_id, len(unrated_items)))

    # compute user similarities
    similarities = compute_similarities(user_id, ratings)
    # print(similarities.columns)
    sorted = similarities.sort_values(by="similarity", ascending=False)
    # print(sorted)
    # return similarities

    # generate predictions for unseen items based on the user similarity data
    predictions = unrated_items.apply(lambda d: predict_rating(d, ratings, similarities, N=n_neighbors))
    return(predictions)

    # sort items by highest predicted rating and number of similar users
    predicitions_df = predicitions_df.sort_values(by=['predictions', 'number_of_similar_users'], ascending=False)

    # recommend top N items
    recommends = predicitions_df.head(n_recomm)

    # reformat the result
    recommends = recommends.to_frame(name='predicted_rating')
    recommends = recommends.rename_axis('book_id')
    recommends = recommends.reset_index()

    # recommends['name'] = recommends.book_id.apply(lambda d: book_titles[d])

    # return recommends

In [85]:
recommends = recommend(1, affinity_matrix, book_titles={}, n_neighbors=N_NEIGHBORS, n_recomm=N_RECOMMENDATIONS)
recommends

AttributeError: 'csr_matrix' object has no attribute 'loc'

### Recommend for users in test set

In [21]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_scores =  tfidf.fit_transform(df_books_final['description'])
tfidf_scores.shape

(59828, 149225)

In [22]:
# cosine similarity matrix directly for the sparse TF-IDF matrix
tfidf_cos_sim = cosine_similarity(tfidf_scores, dense_output=False)

In [23]:
print(df_books_final.index[df_books_final['book_id'] == 46677])

Index([59785], dtype='int64')

In [24]:
book_index = df_books_final.index[df_books_final['book_id'] == 343002][0]
similarity_scores = tfidf_cos_sim[book_index].toarray().flatten()
index = df_books_final.index[df_books_final['book_id'] == 46677][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 867248][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 6669717][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 22013040][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 402114][0]
print(similarity_scores[index])
print("break")
book_index = df_books_final.index[df_books_final['book_id'] == 1852][0]
similarity_scores = tfidf_cos_sim[book_index].toarray().flatten()
index = df_books_final.index[df_books_final['book_id'] == 46677][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 867248][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 6669717][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 22013040][0]
print(similarity_scores[index])
index = df_books_final.index[df_books_final['book_id'] == 402114][0]
print(similarity_scores[index])

0.02697621518236352
0.0
0.03242136805362899
0.002300617889906126
0.011088978479916148
break
0.03906784168008337
0.015002949668787525
0.037975677305821874
0.007384900175627537
0.011830229507892809

In [55]:
from statistics import mean 
import warnings
warnings.filterwarnings('ignore')

unique_users = df_test_interactions.user_id.unique()
first1000_users = unique_users[:1000]
results = []
# 1000 users
# set thresold 
# plot 
for user in first1000_users:
    recommends = recommend(user, ratings, n_neighbors=N_NEIGHBORS, n_recomm=N_RECOMMENDATIONS)
    test_books = df_test_interactions[df_test_interactions['user_id'] == user]['book_id']
    similarity_scores_list = []
    max_similarity_scores_list = []

    for test_book in test_books:
        similarity_scores_list_temp=[]
        test_book_index = df_books_final.index[df_books_final['book_id'] == test_book][0]
        similarity_scores = tfidf_cos_sim[test_book_index].toarray().flatten()

        for recommended_book in recommends:
            index = df_books_final.index[df_books_final['book_id'] == recommended_book][0]
            similarity_scores_list_temp.append(similarity_scores[index])
        
        
        max_similarity_score = max(similarity_scores_list_temp) if similarity_scores_list_temp else None
        max_similarity_scores_list.append(max_similarity_score)
        similarity_scores_list.extend(similarity_scores_list_temp)

    results.append({
        "user_id": user,
        "books_id_read": test_books.tolist(),
        "recommendations": recommends.tolist(),
        "similarity_scores_list": similarity_scores_list,
        "mean_similarity_score": mean(similarity_scores_list),
        "max_similarity_score": max_similarity_scores_list
    })

output_df = pd.DataFrame(results)
output_df

User 0 has 14638 unrated items.
User 1 has 14635 unrated items.
User 2 has 14638 unrated items.
User 3 has 14633 unrated items.
User 4 has 14638 unrated items.
User 5 has 14633 unrated items.
User 6 has 14638 unrated items.
User 7 has 14641 unrated items.
User 8 has 14632 unrated items.
User 9 has 14635 unrated items.
User 10 has 14637 unrated items.
User 11 has 14641 unrated items.
User 12 has 14638 unrated items.
User 13 has 14640 unrated items.
User 14 has 14634 unrated items.
User 15 has 14636 unrated items.
User 16 has 14637 unrated items.
User 17 has 14639 unrated items.
User 18 has 14640 unrated items.
User 19 has 14637 unrated items.
User 20 has 14641 unrated items.
User 21 has 14632 unrated items.
User 22 has 14640 unrated items.
User 23 has 14642 unrated items.
User 24 has 14638 unrated items.
User 25 has 14641 unrated items.
User 26 has 14637 unrated items.
User 27 has 14640 unrated items.
User 28 has 14637 unrated items.
User 29 has 14642 unrated items.
User 30 has 14641 unrated items.
User 31 has 14641 unrated items.
User 32 has 14640 unrated items.
User 33 has 14642 unrated items.
User 34 has 14638 unrated items.
User 35 has 14642 unrated items.
User 36 has 14636 unrated items.
User 37 has 14642 unrated items.
User 38 has 14639 unrated items.
User 39 has 14641 unrated items.
User 40 has 14635 unrated items.
User 41 has 14640 unrated items.
User 42 has 14639 unrated items.
User 43 has 14640 unrated items.
User 44 has 14640 unrated items.
User 45 has 14641 unrated items.
User 46 has 14635 unrated items.
User 47 has 14641 unrated items.
User 48 has 14635 unrated items.
User 49 has 14633 unrated items.
User 50 has 14637 unrated items.
User 51 has 14642 unrated items.
User 52 has 14632 unrated items.
User 53 has 14642 unrated items.
User 54 has 14640 unrated items.
User 55 has 14642 unrated items.
User 56 has 14642 unrated items.
User 57 has 14633 unrated items.
User 58 has 14641 unrated items.
User 59 has 14642 unrated items.
User 60 has 14639 unrated items.
User 61 has 14632 unrated items.
User 62 has 14633 unrated items.
User 63 has 14642 unrated items.
User 64 has 14641 unrated items.
User 65 has 14637 unrated items.
User 66 has 14642 unrated items.
User 67 has 14642 unrated items.
User 68 has 14639 unrated items.
User 69 has 14632 unrated items.
User 70 has 14639 unrated items.
User 71 has 14633 unrated items.
User 72 has 14637 unrated items.
User 73 has 14637 unrated items.
User 74 has 14632 unrated items.
User 75 has 14641 unrated items.
User 76 has 14640 unrated items.
User 77 has 14640 unrated items.
User 78 has 14634 unrated items.
User 79 has 14641 unrated items.
User 80 has 14637 unrated items.
User 81 has 14633 unrated items.
User 82 has 14639 unrated items.
User 83 has 14638 unrated items.
User 84 has 14637 unrated items.
User 85 has 14637 unrated items.
User 86 has 14640 unrated items.
User 87 has 14640 unrated items.
User 88 has 14635 unrated items.
User 89 has 14641 unrated items.
User 90 has 14641 unrated items.
User 91 has 14642 unrated items.
User 92 has 14641 unrated items.
User 93 has 14642 unrated items.
User 94 has 14640 unrated items.
User 95 has 14637 unrated items.
User 96 has 14641 unrated items.
User 97 has 14639 unrated items.
User 98 has 14638 unrated items.
User 99 has 14637 unrated items.
User 100 has 14640 unrated items.
User 101 has 14639 unrated items.
User 102 has 14634 unrated items.
User 103 has 14634 unrated items.
User 104 has 14639 unrated items.
User 105 has 14633 unrated items.
User 106 has 14640 unrated items.
User 107 has 14636 unrated items.
User 108 has 14639 unrated items.
User 109 has 14639 unrated items.
User 110 has 14642 unrated items.
User 111 has 14633 unrated items.
User 112 has 14640 unrated items.
User 113 has 14642 unrated items.
User 114 has 14638 unrated items.
User 115 has 14642 unrated items.
User 116 has 14632 unrated items.
User 117 has 14636 unrated items.
User 118 has 14639 unrated items.
User 119 has 14638 unrated items.
User 120 has 14640 unrated items.
User 121 has 14638 unrated items.
User 122 has 14640 unrated items.
User 123 has 14641 unrated items.
User 124 has 14638 unrated items.
User 125 has 14636 unrated items.
User 126 has 14636 unrated items.
User 127 has 14633 unrated items.
User 128 has 14637 unrated items.
User 129 has 14634 unrated items.
User 130 has 14637 unrated items.
User 131 has 14638 unrated items.
User 132 has 14635 unrated items.
User 133 has 14640 unrated items.
User 134 has 14642 unrated items.
User 135 has 14641 unrated items.
User 136 has 14641 unrated items.
User 137 has 14632 unrated items.
User 138 has 14641 unrated items.
User 139 has 14639 unrated items.
User 140 has 14635 unrated items.
User 141 has 14636 unrated items.
User 142 has 14642 unrated items.
User 143 has 14640 unrated items.
User 144 has 14635 unrated items.
User 145 has 14642 unrated items.
User 146 has 14638 unrated items.
User 147 has 14642 unrated items.
User 148 has 14640 unrated items.
User 149 has 14637 unrated items.
User 150 has 14632 unrated items.
User 151 has 14640 unrated items.
User 152 has 14641 unrated items.
User 153 has 14639 unrated items.
User 154 has 14642 unrated items.
User 155 has 14638 unrated items.
User 156 has 14642 unrated items.
User 157 has 14642 unrated items.
User 158 has 14641 unrated items.
User 159 has 14633 unrated items.
User 160 has 14636 unrated items.
User 161 has 14639 unrated items.
User 162 has 14642 unrated items.
User 163 has 14632 unrated items.
User 164 has 14634 unrated items.
User 165 has 14641 unrated items.
User 166 has 14641 unrated items.
User 167 has 14637 unrated items.
User 168 has 14634 unrated items.
User 169 has 14633 unrated items.
User 170 has 14642 unrated items.
User 171 has 14637 unrated items.
User 172 has 14641 unrated items.
User 173 has 14642 unrated items.
User 174 has 14638 unrated items.
User 175 has 14641 unrated items.
User 176 has 14634 unrated items.
User 177 has 14642 unrated items.
User 178 has 14642 unrated items.
User 179 has 14641 unrated items.
User 180 has 14642 unrated items.
User 181 has 14635 unrated items.
User 182 has 14639 unrated items.
User 183 has 14637 unrated items.
User 184 has 14637 unrated items.
User 185 has 14640 unrated items.
User 186 has 14639 unrated items.
User 187 has 14637 unrated items.
User 188 has 14640 unrated items.
User 189 has 14642 unrated items.
User 190 has 14641 unrated items.
User 191 has 14641 unrated items.
User 192 has 14642 unrated items.
User 193 has 14641 unrated items.
User 194 has 14641 unrated items.
User 195 has 14639 unrated items.
User 196 has 14636 unrated items.
User 197 has 14640 unrated items.
User 198 has 14642 unrated items.
User 199 has 14637 unrated items.
User 200 has 14634 unrated items.
User 201 has 14642 unrated items.
User 202 has 14642 unrated items.
User 203 has 14640 unrated items.
User 204 has 14635 unrated items.
User 205 has 14632 unrated items.
User 206 has 14642 unrated items.
User 207 has 14639 unrated items.
User 208 has 14637 unrated items.
User 209 has 14636 unrated items.
User 210 has 14638 unrated items.
User 211 has 14632 unrated items.
User 212 has 14640 unrated items.
User 213 has 14638 unrated items.
User 214 has 14642 unrated items.
User 215 has 14642 unrated items.
User 216 has 14642 unrated items.
User 217 has 14635 unrated items.
User 218 has 14636 unrated items.
User 219 has 14638 unrated items.
User 220 has 14636 unrated items.
User 221 has 14642 unrated items.
User 222 has 14640 unrated items.
User 223 has 14642 unrated items.
User 224 has 14632 unrated items.
User 225 has 14642 unrated items.
User 226 has 14641 unrated items.
User 227 has 14641 unrated items.
User 228 has 14637 unrated items.
User 229 has 14641 unrated items.
User 230 has 14634 unrated items.
User 231 has 14642 unrated items.
User 232 has 14635 unrated items.
User 233 has 14632 unrated items.
User 234 has 14639 unrated items.
User 235 has 14641 unrated items.
User 236 has 14632 unrated items.
User 237 has 14641 unrated items.
User 238 has 14642 unrated items.
User 239 has 14638 unrated items.
User 240 has 14642 unrated items.
User 241 has 14639 unrated items.
User 242 has 14642 unrated items.
User 243 has 14636 unrated items.
User 244 has 14641 unrated items.
User 245 has 14636 unrated items.
User 246 has 14641 unrated items.
User 247 has 14639 unrated items.
User 248 has 14640 unrated items.
User 249 has 14641 unrated items.
User 250 has 14642 unrated items.
User 251 has 14633 unrated items.
User 252 has 14635 unrated items.
User 253 has 14639 unrated items.
User 254 has 14640 unrated items.
User 255 has 14637 unrated items.
User 256 has 14639 unrated items.
User 257 has 14640 unrated items.
User 258 has 14642 unrated items.
User 259 has 14637 unrated items.
User 260 has 14642 unrated items.
User 261 has 14642 unrated items.
User 262 has 14640 unrated items.
User 263 has 14632 unrated items.
User 264 has 14632 unrated items.
User 265 has 14632 unrated items.
User 266 has 14637 unrated items.
User 267 has 14636 unrated items.
User 268 has 14639 unrated items.
User 269 has 14635 unrated items.
User 270 has 14641 unrated items.
User 271 has 14636 unrated items.
User 272 has 14640 unrated items.
User 273 has 14642 unrated items.
User 274 has 14633 unrated items.
User 275 has 14634 unrated items.
User 276 has 14639 unrated items.
User 277 has 14641 unrated items.
User 278 has 14642 unrated items.
User 279 has 14637 unrated items.
User 280 has 14641 unrated items.
User 281 has 14640 unrated items.
User 282 has 14642 unrated items.
User 283 has 14640 unrated items.
User 284 has 14637 unrated items.
User 285 has 14636 unrated items.
User 286 has 14641 unrated items.
User 287 has 14641 unrated items.
User 288 has 14638 unrated items.
User 289 has 14641 unrated items.
User 290 has 14640 unrated items.
User 291 has 14636 unrated items.
User 292 has 14642 unrated items.
User 293 has 14636 unrated items.
User 294 has 14639 unrated items.
User 295 has 14641 unrated items.
User 296 has 14641 unrated items.
User 297 has 14637 unrated items.
User 298 has 14641 unrated items.
User 299 has 14642 unrated items.
User 300 has 14639 unrated items.
User 301 has 14638 unrated items.
User 302 has 14639 unrated items.
User 303 has 14642 unrated items.
User 304 has 14642 unrated items.
User 305 has 14639 unrated items.
User 306 has 14641 unrated items.
User 307 has 14642 unrated items.
User 308 has 14641 unrated items.
User 309 has 14642 unrated items.
User 310 has 14642 unrated items.
User 311 has 14642 unrated items.
User 312 has 14639 unrated items.
User 313 has 14640 unrated items.
User 314 has 14635 unrated items.
User 315 has 14637 unrated items.
User 316 has 14637 unrated items.
User 317 has 14641 unrated items.
User 318 has 14641 unrated items.
User 319 has 14638 unrated items.
User 320 has 14635 unrated items.
User 321 has 14642 unrated items.
User 322 has 14637 unrated items.
User 323 has 14635 unrated items.
User 324 has 14641 unrated items.
User 325 has 14632 unrated items.
User 326 has 14635 unrated items.
User 327 has 14640 unrated items.
User 328 has 14632 unrated items.
User 329 has 14637 unrated items.
User 330 has 14640 unrated items.
User 331 has 14642 unrated items.
User 332 has 14642 unrated items.
User 333 has 14642 unrated items.
User 334 has 14635 unrated items.
User 335 has 14640 unrated items.
User 336 has 14638 unrated items.
User 337 has 14637 unrated items.
User 338 has 14635 unrated items.
User 339 has 14639 unrated items.
User 340 has 14637 unrated items.
User 341 has 14636 unrated items.
User 342 has 14642 unrated items.
User 343 has 14639 unrated items.
User 344 has 14640 unrated items.
User 345 has 14640 unrated items.
User 346 has 14636 unrated items.
User 347 has 14641 unrated items.
User 348 has 14632 unrated items.
User 349 has 14638 unrated items.
User 350 has 14638 unrated items.
User 351 has 14639 unrated items.
User 352 has 14639 unrated items.
User 353 has 14640 unrated items.
User 354 has 14636 unrated items.
User 355 has 14639 unrated items.
User 356 has 14632 unrated items.
User 357 has 14632 unrated items.
User 358 has 14639 unrated items.
User 359 has 14640 unrated items.
User 360 has 14638 unrated items.
User 361 has 14640 unrated items.
User 362 has 14640 unrated items.
User 363 has 14636 unrated items.
User 364 has 14639 unrated items.
User 365 has 14642 unrated items.
User 366 has 14640 unrated items.
User 367 has 14642 unrated items.
User 368 has 14639 unrated items.
User 369 has 14637 unrated items.
User 370 has 14635 unrated items.
User 371 has 14642 unrated items.
User 372 has 14642 unrated items.
User 373 has 14636 unrated items.
User 374 has 14642 unrated items.
User 375 has 14642 unrated items.
User 376 has 14642 unrated items.
User 377 has 14642 unrated items.
User 378 has 14640 unrated items.
User 379 has 14640 unrated items.
User 380 has 14636 unrated items.
User 381 has 14641 unrated items.
User 382 has 14640 unrated items.
User 383 has 14637 unrated items.
User 384 has 14642 unrated items.
User 385 has 14634 unrated items.
User 386 has 14634 unrated items.
User 387 has 14641 unrated items.
User 388 has 14639 unrated items.
User 389 has 14636 unrated items.
User 390 has 14642 unrated items.
User 391 has 14632 unrated items.
User 392 has 14639 unrated items.
User 393 has 14638 unrated items.
User 394 has 14638 unrated items.
User 395 has 14641 unrated items.
User 396 has 14641 unrated items.
User 397 has 14639 unrated items.
User 398 has 14639 unrated items.
User 399 has 14642 unrated items.
User 400 has 14642 unrated items.
User 401 has 14636 unrated items.
User 402 has 14642 unrated items.
User 403 has 14642 unrated items.
User 404 has 14637 unrated items.
User 405 has 14642 unrated items.
User 406 has 14640 unrated items.
User 407 has 14636 unrated items.
User 408 has 14638 unrated items.
User 409 has 14639 unrated items.
User 410 has 14642 unrated items.
User 411 has 14640 unrated items.
User 412 has 14639 unrated items.
User 413 has 14641 unrated items.
User 414 has 14638 unrated items.
User 415 has 14642 unrated items.
User 416 has 14641 unrated items.
User 417 has 14636 unrated items.
User 418 has 14640 unrated items.
User 419 has 14640 unrated items.
User 420 has 14640 unrated items.
User 421 has 14639 unrated items.
User 422 has 14635 unrated items.
User 423 has 14633 unrated items.
User 424 has 14632 unrated items.
User 425 has 14638 unrated items.
User 426 has 14633 unrated items.
User 427 has 14642 unrated items.
User 428 has 14639 unrated items.
User 429 has 14640 unrated items.
User 430 has 14641 unrated items.
User 431 has 14642 unrated items.
User 432 has 14642 unrated items.
User 433 has 14641 unrated items.
User 434 has 14641 unrated items.
User 435 has 14638 unrated items.
User 436 has 14641 unrated items.
User 437 has 14642 unrated items.
User 438 has 14637 unrated items.
User 439 has 14641 unrated items.
User 440 has 14642 unrated items.
User 441 has 14639 unrated items.
User 442 has 14642 unrated items.
User 443 has 14642 unrated items.
User 444 has 14635 unrated items.
User 445 has 14641 unrated items.
User 446 has 14639 unrated items.
User 447 has 14642 unrated items.
User 448 has 14636 unrated items.
User 449 has 14642 unrated items.
User 450 has 14642 unrated items.
User 451 has 14637 unrated items.
User 452 has 14641 unrated items.
User 453 has 14638 unrated items.
User 454 has 14641 unrated items.
User 455 has 14632 unrated items.
User 456 has 14641 unrated items.
User 457 has 14638 unrated items.
User 458 has 14640 unrated items.
User 459 has 14642 unrated items.
User 460 has 14634 unrated items.
User 461 has 14634 unrated items.
User 462 has 14642 unrated items.
User 463 has 14641 unrated items.
User 464 has 14641 unrated items.
User 465 has 14642 unrated items.
User 466 has 14633 unrated items.
User 467 has 14641 unrated items.
User 468 has 14632 unrated items.
User 469 has 14642 unrated items.
User 470 has 14636 unrated items.
User 471 has 14635 unrated items.
User 472 has 14633 unrated items.
User 473 has 14641 unrated items.
User 474 has 14640 unrated items.
User 475 has 14641 unrated items.
User 476 has 14640 unrated items.
User 477 has 14640 unrated items.
User 478 has 14637 unrated items.
User 479 has 14637 unrated items.
User 480 has 14641 unrated items.
User 481 has 14640 unrated items.
User 482 has 14642 unrated items.
User 483 has 14640 unrated items.
User 484 has 14633 unrated items.
User 485 has 14642 unrated items.
User 486 has 14634 unrated items.
User 487 has 14640 unrated items.
User 488 has 14639 unrated items.
User 489 has 14642 unrated items.
User 490 has 14633 unrated items.
User 491 has 14639 unrated items.
User 492 has 14642 unrated items.
User 493 has 14637 unrated items.
User 494 has 14639 unrated items.
User 495 has 14639 unrated items.
User 496 has 14642 unrated items.
User 497 has 14636 unrated items.
User 498 has 14637 unrated items.
User 499 has 14637 unrated items.
User 500 has 14637 unrated items.
User 501 has 14638 unrated items.
User 502 has 14642 unrated items.
User 503 has 14638 unrated items.
User 504 has 14633 unrated items.
User 505 has 14638 unrated items.
User 506 has 14642 unrated items.
User 507 has 14637 unrated items.
User 508 has 14639 unrated items.
User 509 has 14641 unrated items.
User 510 has 14641 unrated items.
User 511 has 14642 unrated items.
User 512 has 14632 unrated items.
User 513 has 14642 unrated items.
User 514 has 14638 unrated items.
User 515 has 14635 unrated items.
User 516 has 14633 unrated items.
User 517 has 14635 unrated items.
User 518 has 14639 unrated items.
User 519 has 14641 unrated items.
User 520 has 14642 unrated items.
User 521 has 14642 unrated items.
User 522 has 14640 unrated items.
User 523 has 14642 unrated items.
User 524 has 14641 unrated items.
User 525 has 14641 unrated items.
User 526 has 14641 unrated items.
User 527 has 14638 unrated items.
User 528 has 14636 unrated items.
User 529 has 14638 unrated items.
User 530 has 14637 unrated items.
User 531 has 14640 unrated items.
User 532 has 14642 unrated items.
User 533 has 14641 unrated items.
User 534 has 14640 unrated items.
User 535 has 14638 unrated items.
User 536 has 14638 unrated items.
User 537 has 14634 unrated items.
User 538 has 14636 unrated items.
User 539 has 14632 unrated items.
User 540 has 14642 unrated items.
User 541 has 14640 unrated items.
User 542 has 14641 unrated items.
User 543 has 14642 unrated items.
User 544 has 14641 unrated items.
User 545 has 14639 unrated items.
User 546 has 14642 unrated items.
User 547 has 14640 unrated items.
User 548 has 14638 unrated items.
User 549 has 14638 unrated items.
User 550 has 14642 unrated items.
User 551 has 14639 unrated items.
User 552 has 14635 unrated items.
User 553 has 14642 unrated items.
User 554 has 14640 unrated items.
User 555 has 14636 unrated items.
User 556 has 14637 unrated items.
User 557 has 14640 unrated items.
User 558 has 14638 unrated items.
User 559 has 14640 unrated items.
User 560 has 14641 unrated items.
User 561 has 14641 unrated items.
User 562 has 14634 unrated items.
User 563 has 14641 unrated items.
User 564 has 14642 unrated items.
User 565 has 14642 unrated items.
User 566 has 14641 unrated items.
User 567 has 14635 unrated items.
User 568 has 14642 unrated items.
User 569 has 14641 unrated items.
User 570 has 14640 unrated items.
User 571 has 14640 unrated items.
User 572 has 14637 unrated items.
User 573 has 14639 unrated items.
User 574 has 14640 unrated items.
User 575 has 14639 unrated items.
User 576 has 14641 unrated items.
User 577 has 14634 unrated items.
User 578 has 14635 unrated items.
User 579 has 14639 unrated items.
User 580 has 14640 unrated items.
User 581 has 14641 unrated items.
User 582 has 14636 unrated items.
User 583 has 14635 unrated items.
User 584 has 14641 unrated items.
User 585 has 14635 unrated items.
User 586 has 14636 unrated items.
User 587 has 14633 unrated items.
User 588 has 14641 unrated items.
User 589 has 14639 unrated items.
User 590 has 14637 unrated items.

,user_id,books_id_read,recommendations,similarity_scores_list,mean_similarity_score,max_similarity_score
0,0,"[343002, 1852]","[46677, 867248, 6669717, 22013040, 402114]","[0.02697621518236352, 0.0, 0.03242136805362899...",0.018405,"[0.03242136805362899, 0.03906784168008337]"
1,1,"[1248128, 30119]","[14118, 46677, 867248, 6669717, 22013040]","[0.007197123322763255, 0.0051736136925291925, ...",0.058451,"[0.007197123322763255, 0.5127871656196451]"
2,2,"[74595, 2711313]","[14118, 867248, 6669717, 22013040, 402114]","[0.01044065185339305, 0.0, 0.02950585563320733...",0.009337,"[0.029505855633207338, 0.018733342147202403]"
3,3,"[30119, 157993]","[14118, 46677, 867248, 6669717, 22013040]","[0.012281415239966146, 0.02696491648561693, 0....",0.066646,"[0.5127871656196451, 0.0517584584988947]"
4,4,"[13023, 157993]","[14118, 46677, 867248, 6669717, 22013040]","[0.00340888102818777, 0.02332300161231656, 0.0...",0.015926,"[0.02332300161231656, 0.0517584584988947]"
...,...,...,...,...,...,...
995,995,"[24178, 78411]","[14118, 46677, 867248, 6669717, 22013040]","[0.0426236394204663, 0.02526529716731194, 0.00...",0.019403,"[0.0426236394204663, 0.028494710116081803]"
996,996,"[267972, 275000]","[14118, 46677, 867248, 6669717, 22013040]","[0.02398428888624259, 0.020906982781366244, 0....",0.010759,"[0.02561423259626288, 0.007984469981907565]"
997,997,"[25618438, 23754884]","[14118, 46677, 867248, 6669717, 22013040]","[0.0, 0.015102355213715836, 0.0, 0.02371667758...",0.006078,"[0.023716677584827726, 0.006018297839707198]"
998,998,"[140225, 5]","[14118, 46677, 867248, 6669717, 22013040]","[0.011927089756086478, 0.01132274443756136, 0....",0.012094,"[0.029593441500958117, 0.019991562840876765]"
999,999,"[157993, 3008]","[14118, 46677, 867248, 6669717, 22013040]","[0.020676692215979318, 0.026918746933448458, 0...",0.018199,"[0.0517584584988947, 0.04519524332308271]"

In [59]:
output_df['num_exact_matches'] = output_df.apply(
    lambda row: sum(1 for book_id in row['recommendations'] if book_id in row['books_id_read']),
    axis=1
)
output_df

,user_id,books_id_read,recommendations,similarity_scores_list,mean_similarity_score,max_similarity_score,num_exact_matches
0,0,"[343002, 1852]","[46677, 867248, 6669717, 22013040, 402114]","[0.02697621518236352, 0.0, 0.03242136805362899...",0.018405,"[0.03242136805362899, 0.03906784168008337]",0
1,1,"[1248128, 30119]","[14118, 46677, 867248, 6669717, 22013040]","[0.007197123322763255, 0.0051736136925291925, ...",0.058451,"[0.007197123322763255, 0.5127871656196451]",0
2,2,"[74595, 2711313]","[14118, 867248, 6669717, 22013040, 402114]","[0.01044065185339305, 0.0, 0.02950585563320733...",0.009337,"[0.029505855633207338, 0.018733342147202403]",0
3,3,"[30119, 157993]","[14118, 46677, 867248, 6669717, 22013040]","[0.012281415239966146, 0.02696491648561693, 0....",0.066646,"[0.5127871656196451, 0.0517584584988947]",0
4,4,"[13023, 157993]","[14118, 46677, 867248, 6669717, 22013040]","[0.00340888102818777, 0.02332300161231656, 0.0...",0.015926,"[0.02332300161231656, 0.0517584584988947]",0
...,...,...,...,...,...,...,...
995,995,"[24178, 78411]","[14118, 46677, 867248, 6669717, 22013040]","[0.0426236394204663, 0.02526529716731194, 0.00...",0.019403,"[0.0426236394204663, 0.028494710116081803]",0
996,996,"[267972, 275000]","[14118, 46677, 867248, 6669717, 22013040]","[0.02398428888624259, 0.020906982781366244, 0....",0.010759,"[0.02561423259626288, 0.007984469981907565]",0
997,997,"[25618438, 23754884]","[14118, 46677, 867248, 6669717, 22013040]","[0.0, 0.015102355213715836, 0.0, 0.02371667758...",0.006078,"[0.023716677584827726, 0.006018297839707198]",0
998,998,"[140225, 5]","[14118, 46677, 867248, 6669717, 22013040]","[0.011927089756086478, 0.01132274443756136, 0....",0.012094,"[0.029593441500958117, 0.019991562840876765]",0
999,999,"[157993, 3008]","[14118, 46677, 867248, 6669717, 22013040]","[0.020676692215979318, 0.026918746933448458, 0...",0.018199,"[0.0517584584988947, 0.04519524332308271]",0

### Evaluation

In [57]:
output_df['mean_similarity_score'].describe()

count    1000.000000
mean        0.018003
std         0.018727
min         0.000000
25%         0.008647
50%         0.012214
75%         0.016738
max         0.112852
Name: mean_similarity_score, dtype: float64

In [60]:
total_books = 2000
total_hits = output_df['num_exact_matches'].sum()
print(total_hits)
accuracy_of_exact_hits = total_hits/total_books * 100 # checking for accuracy of recommendation. hits/total_books
print(f"The accuracy of the recommendation system in terms of exact match is {accuracy_of_exact_hits:.2f}%")

0
The accuracy of the recommendation system in terms of exact match is 0.00%