# NCF with Metadata of Books
Aiming to predicts books that a user is likely to read instead of ratings given the books that a user has read

In [1]:
# Import necessary libraries
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import scipy.sparse
from gensim.models import Word2Vec
from random import sample
from sklearn.metrics import ndcg_score

## Preparation of Books Metadata for Modeling

### Read books CSV

In [2]:
books_meta = pd.read_csv('df_books_final.csv')

In [3]:
books_meta.head(3)

,book_id,title,description,average_rating,ratings_count,text_reviews_count,top_popular_shelves,author_ids,format_Audio,format_Digital,...,lang_tha,lang_tr,lang_tur,lang_ukr,lang_vi,lang_vie,lang_zh,length_long,length_medium,length_short
0,1882090,"Behave Yourself, Bethany Brant",A preacher's daughter with lots of curiosity a...,-1.028630,-0.059069,-0.136278,"[{'count': '1', 'name': 'mrs-withdrawn'}, {'co...",['151369'],False,False,...,False,False,False,False,False,False,False,False,True,False
1,166120,Ghosthunters And The Incredibly Revolting Ghost,A $2.99 value-priced edition of one of our bes...,-0.690046,-0.059069,-0.126186,"[{'count': '9', 'name': 'owned'}, {'count': '9...",['15873'],False,False,...,False,False,False,False,False,False,False,False,True,False
2,8608741,Attack of the Chicken Nugget Man: A National T...,Third-grader Chris Robb just can't seem to do ...,-0.597705,-0.059069,-0.102639,"[{'count': '2', 'name': 'books-i-wrote'}, {'co...",['2868520'],False,False,...,False,False,False,False,False,False,False,False,True,False

### Vectorize Text Columns (title, description)

In [4]:
# # Create a TfidfVectorizer instance
# tfidf_vectorizer = TfidfVectorizer(stop_words='english')

# # Fit and transform the titles
# title_tfidf = tfidf_vectorizer.fit_transform(books_meta['title'])

# # Convert each row of the sparse matrix to a compressed sparse row (CSR) format and store it in a new column
# books_meta['title_tfidf'] = [scipy.sparse.csr_matrix(title_tfidf[i]) for i in range(title_tfidf.shape[0])]

book_descriptions = books_meta['description']

# Tokenize book descriptions
tokenized_descriptions = [description.split() for description in book_descriptions]

# Train Word2Vec model
model = Word2Vec(tokenized_descriptions, vector_size=100, window=5, min_count=1, workers=4)

# To get a single vector for an entire description, average the word vectors
def get_vector(text):
    words = text.split()
    word_vectors = np.array([model.wv[word] for word in words if word in model.wv])
    return np.mean(word_vectors, axis=0) if word_vectors.size else np.zeros(model.vector_size)

# Vectorize descriptions
descriptions_vectors = np.array([get_vector(description) for description in book_descriptions])

# # Add Word2Vec for description back to dataframe
# books_meta['description_word2vec'] = list(descriptions_vectors)
vector_columns = pd.DataFrame(descriptions_vectors, columns=[f'vector_{i+1}' for i in range(descriptions_vectors.shape[1])])
# Concatenate the vector columns with the original df_books DataFrame
books_meta = pd.concat([books_meta, vector_columns], axis=1)

### Drop Redundant Columns

In [5]:
print(books_meta.shape)
books_meta.columns

(59828, 184)

Index(['book_id', 'title', 'description', 'average_rating', 'ratings_count',
       'text_reviews_count', 'top_popular_shelves', 'author_ids',
       'format_Audio', 'format_Digital',
       ...
       'vector_91', 'vector_92', 'vector_93', 'vector_94', 'vector_95',
       'vector_96', 'vector_97', 'vector_98', 'vector_99', 'vector_100'],
      dtype='object', length=184)

In [6]:
books_meta_clean = books_meta.drop(columns=['title', 'description', 'top_popular_shelves', 'author_ids'])

In [99]:
print(books_meta_clean.shape)
books_meta_clean.head(3)

(59828, 181)

,book_id,average_rating,ratings_count,text_reviews_count,format_Audio,format_Digital,format_Other,format_Physical,format_Specialty,lang_ar,...,vector_92,vector_93,vector_94,vector_95,vector_96,vector_97,vector_98,vector_99,vector_100,book_idx
0,1882090,-1.028630,-0.059069,-0.136278,False,False,False,True,False,False,...,-0.647850,1.280018,1.553704,-0.449838,1.632225,1.477504,-0.324744,0.152460,1.129145,24217
1,166120,-0.690046,-0.059069,-0.126186,False,False,False,True,False,False,...,-0.767153,1.153325,1.186553,-0.012707,1.047337,0.979032,-0.401169,0.630396,1.087497,3475
2,8608741,-0.597705,-0.059069,-0.102639,False,False,False,True,False,False,...,-0.654886,1.107435,1.617156,-0.080610,1.139693,0.823007,-0.496060,0.258614,1.189002,37931

## Import Train and Test Interactions CSV

In [66]:
train_data = pd.read_csv('train_interactions.csv')
test_data = pd.read_csv('test_interactions.csv')

In [67]:
train_data.head(3)

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment
0,0,157993,5,2016-07-18 19:34:48+00:00,NaN,3004,0.574139
1,0,359079,4,2014-07-16 19:28:57+00:00,NaN,3737,0.527973
2,0,41684,4,2014-07-16 13:45:50+00:00,NaN,3738,0.527973

In [68]:
test_data.head(3)

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment
0,0,343002,5,2012-01-25 00:26:06+00:00,NaN,4641,0.574139
1,0,1852,4,2012-01-21 18:36:06+00:00,NaN,4644,0.527973
2,1,1248128,4,2009-05-04 15:32:21+00:00,NaN,5636,0.527973

## Encoding User and Book IDs

In [69]:
user_encoder = LabelEncoder()
train_data['user_idx'] = user_encoder.fit_transform(train_data['user_id'])

# Retrieve all unique book IDs
all_book_ids = books_meta_clean['book_id'].unique()

# Fit the encoder on the combined unique book_ids
book_encoder = LabelEncoder()
book_encoder.fit(all_book_ids)

# Apply encoding to both DataFrames without refitting
books_meta_clean['book_idx'] = book_encoder.transform(books_meta_clean['book_id'])
train_data['book_idx'] = book_encoder.transform(train_data['book_id'])

In [70]:
train_data.head(1)

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment,user_idx,book_idx
0,0,157993,5,2016-07-18 19:34:48+00:00,NaN,3004,0.574139,0,3330

In [71]:
# Test book encoding
books_meta_clean[books_meta_clean['book_id'] == 157993]

,book_id,average_rating,ratings_count,text_reviews_count,format_Audio,format_Digital,format_Other,format_Physical,format_Specialty,lang_ar,...,vector_92,vector_93,vector_94,vector_95,vector_96,vector_97,vector_98,vector_99,vector_100,book_idx
59823,157993,1.187557,54.989371,55.828967,False,False,False,True,False,False,...,-0.730774,1.358876,1.626976,-0.041203,1.063568,1.315886,-0.33967,0.649069,1.342983,3330

In [72]:
# Check for missing data
train_data[~train_data['book_id'].isin(books_meta_clean['book_id'])]

Empty DataFrame
Columns: [user_id, book_id, rating, date_added, n_votes, review_age, sentiment, user_idx, book_idx]
Index: []

## Define Functions for NCF Model for Book Recommender

In [73]:
class BooksDataset(Dataset):
    def __init__(self, data, book_features, is_train=True):
        self.data = data  # This is the dataframe containing user_id, book_id, rating
        self.book_features = book_features  # Metadata for books
        self.is_train = is_train  # Flag to indicate if this is training or testing 
        
    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, idx):
        row = self.data.iloc[idx]
        user_idx = row['user_idx']
        book_idx = row['book_idx']
        
        # Extract book metadata
        book_meta = torch.tensor(self.book_features.loc[book_idx].values.astype(np.float32), dtype=torch.float)
        
        # Prepare the data dictionary
        data_dict = {
            'user_idx': torch.tensor(user_idx, dtype=torch.long),
            'book_idx': torch.tensor(book_idx, dtype=torch.long),
            'rating' : torch.tensor(row['rating'], dtype=torch.float),
            'book_meta': book_meta
        }
        
        return data_dict

In [74]:
BATCH_SIZE = 512

# Assuming `train_data` is your DataFrame containing interactions (user_id, book_id, rating)
train_dataset = BooksDataset(train_data, books_meta_clean)

train_loader = DataLoader(train_dataset, batch_size=BATCH_SIZE, shuffle=True)

In [76]:
class NCF(nn.Module):
    def __init__(self, num_users, num_books, embedding_dim, metadata_dim):
        super(NCF, self).__init__()
        # GMF Components
        self.user_embeddings_gmf = nn.Embedding(num_users, embedding_dim)
        self.book_embeddings_gmf = nn.Embedding(num_books, embedding_dim)

        # MLP Components
        self.user_embeddings_mlp = nn.Embedding(num_users, embedding_dim)
        self.book_embeddings_mlp = nn.Embedding(num_books, embedding_dim)

        # Metadata layer
        self.fc_meta = nn.Linear(metadata_dim, embedding_dim)

        # MLP layers
        self.fc1_mlp = nn.Linear(2 * embedding_dim, 128)
        self.fc2_mlp = nn.Linear(128, 64)

        # Final combination layer
        self.fc1_combined = nn.Linear(embedding_dim + 64 + embedding_dim, 128)  # Metadata embedding added
        self.fc2_combined = nn.Linear(128, 1)

    def forward(self, user_id, book_id, book_meta):
        # GMF
        user_emb_gmf = self.user_embeddings_gmf(user_id)
        book_emb_gmf = self.book_embeddings_gmf(book_id)
        gmf_output = user_emb_gmf * book_emb_gmf

        # MLP
        user_emb_mlp = self.user_embeddings_mlp(user_id)
        book_emb_mlp = self.book_embeddings_mlp(book_id)
        mlp_input = torch.cat([user_emb_mlp, book_emb_mlp], dim=-1)
        mlp_output = torch.relu(self.fc1_mlp(mlp_input))
        mlp_output = torch.relu(self.fc2_mlp(mlp_output))

        # Process metadata
        meta_output = torch.relu(self.fc_meta(book_meta))  # Project metadata to same embedding dimension

        # Combine GMF, MLP, and metadata outputs
        combined_input = torch.cat([gmf_output, mlp_output, meta_output], dim=-1)
        combined_output = torch.relu(self.fc1_combined(combined_input))
        # combined_output = torch.sigmoid(self.fc2_combined(combined_output)) * 5  # Scale to rating 
        
        combined_output = self.fc2_combined(combined_output)  # No activation
        combined_output = torch.clamp(combined_output, 1, 5)  # Ensure output is in rating range


        return combined_output.squeeze()

## Model Training

In [77]:
def train_model(model, train_loader, optimizer, criterion, num_epochs=5):
    model.train()
    for epoch in range(num_epochs):
        print("Epoch", epoch)
        for batch in train_loader:
            optimizer.zero_grad()
            predictions = model(batch['user_idx'], batch['book_idx'], batch['book_meta'])
            loss = criterion(predictions, batch['rating'])
            loss.backward()
            optimizer.step()
        print(f"Epoch {epoch+1}, Loss: {loss.item()}")

### Initialize Model

In [ ]:
EMBEDDING_DIM = 64
METADATA_DIM = books_meta_clean.shape[1]
N_EPOCHS = 10

num_users = len(user_encoder.classes_) 
num_books = len(book_encoder.classes_)

model = NCF(num_users, num_books, EMBEDDING_DIM, METADATA_DIM)
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.0001)

In [79]:
train_model(model, train_loader, optimizer, criterion, N_EPOCHS)

Epoch 0
Epoch 1, Loss: 1.314606785774231
Epoch 1
Epoch 2, Loss: 2.932584285736084
Epoch 2
Epoch 3, Loss: 3.3932583332061768
Epoch 3
Epoch 4, Loss: 3.0
Epoch 4
Epoch 5, Loss: 3.6853933334350586
Epoch 5
Epoch 6, Loss: 2.83146071434021
Epoch 6
Epoch 7, Loss: 2.1910111904144287
Epoch 7
Epoch 8, Loss: 2.561797857284546
Epoch 8
Epoch 9, Loss: 3.1123595237731934
Epoch 9
Epoch 10, Loss: 1.8876404762268066

## Evaluation

In [80]:
test_data.head(2)

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment
0,0,343002,5,2012-01-25 00:26:06+00:00,NaN,4641,0.574139
1,0,1852,4,2012-01-21 18:36:06+00:00,NaN,4644,0.527973

In [81]:
test_data['user_idx'] = user_encoder.transform(test_data['user_id'])
test_data['book_idx'] = book_encoder.transform(test_data['book_id'])

test_dataset = BooksDataset(test_data, books_meta_clean) 

test_loader = DataLoader(test_dataset, batch_size=BATCH_SIZE)

In [82]:
# Evaluation
model.eval()
test_loss = 0
with torch.no_grad():
    total_loss = 0
    for batch in test_loader:
        user_idx = batch['user_idx']
        book_idx = batch['book_idx']
        rating = batch['rating']
        book_metadata = batch['book_meta']

        outputs = model(user_idx, book_idx, book_metadata)
        loss = criterion(outputs, rating)

        total_loss += loss.item()

    test_loss = total_loss / len(test_data)
    print(f'Test Loss: {test_loss}')

Test Loss: 0.0037584065164393077

### Prediction of ratings for 2 books in test set

- NDCG could be used to measure the accuracy of the model's ranking if a value (probability that user will read a book or rating) for all unread books.
- Decided not to use NDCG here as there are only 2 books in the test set and even randomly generating would give 50% accuracy score, thus, wanted to use a metric that would calculate the accuracy of the actual predicted rating value rather than the rank.

#### Generate Predictions

In [83]:
def generate_predictions(model, data_loader, books_meta_clean):
    model.eval()
    predictions = []
    with torch.no_grad():
        for batch in data_loader:
            user_idx = batch['user_idx']
            book_idx = batch['book_idx']
            meta_data = batch['book_meta']
            outputs = model(user_idx, book_idx, meta_data)
            predictions.extend(zip(user_idx.numpy(), book_idx.numpy(), outputs.numpy()))
    return predictions

test_predictions = generate_predictions(model, test_loader, books_meta_clean)

In [84]:
test_data.head(4)

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment,user_idx,book_idx
0,0,343002,5,2012-01-25 00:26:06+00:00,NaN,4641,0.574139,0,6509
1,0,1852,4,2012-01-21 18:36:06+00:00,NaN,4644,0.527973,0,20
2,1,1248128,4,2009-05-04 15:32:21+00:00,NaN,5636,0.527973,1,19267
3,1,30119,4,2009-05-04 15:11:22+00:00,NaN,5636,0.527973,1,777

In [85]:
test_predictions

[(0, 6509, 5.0),
 (0, 20, 5.0),
 (1, 19267, 5.0),
 (1, 777, 5.0),
 (2, 1627, 5.0),
 (2, 28216, 5.0),
 (3, 777, 5.0),
 (3, 3330, 5.0),
 (4, 333, 5.0),
 (4, 3330, 5.0),
 (5, 133, 5.0),
 (5, 127, 5.0),
 (6, 776, 5.0),
 (6, 777, 5.0),
 (7, 0, 5.0),
 (7, 20, 5.0),
 (8, 13785, 5.0),
 (8, 0, 5.0),
 (9, 248, 5.0),
 (9, 777, 5.0),
 (10, 5669, 5.0),
 (10, 860, 5.0),
 (11, 3034, 5.0),
 (11, 0, 5.0),
 (12, 3034, 5.0),
 (12, 45, 5.0),
 (13, 482, 5.0),
 (13, 602, 5.0),
 (14, 6931, 5.0),
 (14, 777, 5.0),
 (15, 2648, 5.0),
 (15, 46073, 5.0),
 (16, 553, 5.0),
 (16, 1172, 5.0),
 (17, 570, 5.0),
 (17, 6931, 5.0),
 (18, 7269, 5.0),
 (18, 50592, 5.0),
 (19, 614, 5.0),
 (19, 310, 5.0),
 (20, 1172, 5.0),
 (20, 0, 5.0),
 (21, 654, 5.0),
 (21, 20387, 5.0),
 (22, 952, 5.0),
 (22, 280, 5.0),
 (23, 53694, 5.0),
 (23, 32073, 5.0),
 (24, 505, 5.0),
 (24, 602, 5.0),
 (25, 37479, 5.0),
 (25, 31717, 5.0),
 (26, 62, 5.0),
 (26, 40, 5.0),
 (27, 952, 5.0),
 (27, 40, 5.0),
 (28, 6931, 5.0),
 (28, 3330, 5.0),
 (29, 33271, 5.0),
 (29, 6567, 5.0),
 (30, 8171, 5.0),
 (30, 3221, 5.0),
 (31, 380, 5.0),
 (31, 6931, 5.0),
 (32, 776, 5.0),
 (32, 777, 5.0),
 (33, 40, 5.0),
 (33, 3330, 5.0),
 (34, 1675, 5.0),
 (34, 248, 5.0),
 (35, 644, 5.0),
 (35, 3603, 5.0),
 (36, 2218, 5.0),
 (36, 3967, 5.0),
 (37, 127, 5.0),
 (37, 3541, 5.0),
 (38, 777, 5.0),
 (38, 40654, 5.0),
 (39, 1689, 5.0),
 (39, 40, 5.0),
 (40, 5922, 5.0),
 (40, 0, 5.0),
 (41, 151, 5.0),
 (41, 127, 5.0),
 (42, 1515, 5.0),
 (42, 979, 5.0),
 (43, 471, 5.0),
 (43, 3113, 5.0),
 (44, 4748, 5.0),
 (44, 614, 5.0),
 (45, 0, 5.0),
 (45, 248, 5.0),
 (46, 2038, 5.0),
 (46, 40, 5.0),
 (47, 241, 5.0),
 (47, 184, 5.0),
 (48, 45, 5.0),
 (48, 777, 5.0),
 (49, 7798, 5.0),
 (49, 777, 5.0),
 (50, 614, 5.0),
 (50, 259, 5.0),
 (51, 570, 5.0),
 (51, 602, 5.0),
 (52, 505, 5.0),
 (52, 602, 5.0),
 (53, 294, 5.0),
 (53, 0, 5.0),
 (54, 1689, 5.0),
 (54, 127, 5.0),
 (55, 1490, 5.0),
 (55, 8171, 5.0),
 (56, 338, 5.0),
 (56, 991, 5.0),
 (57, 16038, 5.0),
 (57, 2603, 5.0),
 (58, 570, 5.0),
 (58, 0, 5.0),
 (59, 570, 5.0),
 (59, 0, 5.0),
 (60, 183, 5.0),
 (60, 4002, 5.0),
 (61, 248, 5.0),
 (61, 0, 5.0),
 (62, 3034, 5.0),
 (62, 0, 5.0),
 (63, 3910, 5.0),
 (63, 56469, 5.0),
 (64, 4232, 5.0),
 (64, 5303, 5.0),
 (65, 47320, 5.0),
 (65, 3912, 5.0),
 (66, 3330, 5.0),
 (66, 991, 5.0),
 (67, 0, 5.0),
 (67, 1689, 5.0),
 (68, 777, 5.0),
 (68, 546, 5.0),
 (69, 38030, 5.0),
 (69, 32707, 5.0),
 (70, 127, 5.0),
 (70, 0, 5.0),
 (71, 991, 5.0),
 (71, 602, 5.0),
 (72, 2, 5.0),
 (72, 45, 5.0),
 (73, 0, 5.0),
 (73, 777, 5.0),
 (74, 991, 5.0),
 (74, 614, 5.0),
 (75, 321, 5.0),
 (75, 294, 5.0),
 (76, 0, 5.0),
 (76, 777, 5.0),
 (77, 0, 5.0),
 (77, 40891, 5.0),
 (78, 6989, 5.0),
 (78, 1698, 5.0),
 (79, 614, 5.0),
 (79, 43539, 5.0),
 (80, 0, 5.0),
 (80, 777, 5.0),
 (81, 602, 5.0),
 (81, 991, 5.0),
 (82, 1068, 5.0),
 (82, 2381, 5.0),
 (83, 127, 5.0),
 (83, 602, 5.0),
 (84, 40, 5.0),
 (84, 0, 5.0),
 (85, 294, 5.0),
 (85, 777, 5.0),
 (86, 570, 5.0),
 (86, 62, 5.0),
 (87, 40, 5.0),
 (87, 0, 5.0),
 (88, 602, 5.0),
 (88, 991, 5.0),
 (89, 3330, 5.0),
 (89, 0, 5.0),
 (90, 23799, 5.0),
 (90, 7269, 5.0),
 (91, 553, 5.0),
 (91, 614, 5.0),
 (92, 294, 5.0),
 (92, 777, 5.0),
 (93, 149, 5.0),
 (93, 130, 5.0),
 (94, 50733, 5.0),
 (94, 40654, 5.0),
 (95, 3394, 5.0),
 (95, 1389, 5.0),
 (96, 47786, 5.0),
 (96, 127, 5.0),
 (97, 0, 5.0),
 (97, 777, 5.0),
 (98, 3330, 5.0),
 (98, 3912, 5.0),
 (99, 5277, 5.0),
 (99, 40891, 5.0),
 (100, 20, 5.0),
 (100, 6335, 5.0),
 (101, 10412, 5.0),
 (101, 40567, 5.0),
 (102, 505, 5.0),
 (102, 0, 5.0),
 (103, 1614, 5.0),
 (103, 3330, 5.0),
 (104, 33733, 5.0),
 (104, 30701, 5.0),
 (105, 1172, 5.0),
 (105, 484, 5.0),
 (106, 991, 5.0),
 (106, 1325, 5.0),
 (107, 127, 5.0),
 (107, 602, 5.0),
 (108, 198, 5.0),
 (108, 40, 5.0),
 (109, 4748, 5.0),
 (109, 602, 5.0),
 (110, 602, 5.0),
 (110, 777, 5.0),
 (111, 647, 5.0),
 (111, 3395, 5.0),
 (112, 9345, 5.0),
 (112, 7798, 5.0),
 (113, 553, 5.0),
 (113, 614, 5.0),
 (114, 31677, 5.0),
 (114, 30067, 5.0),
 (115, 952, 5.0),
 (115, 6733, 5.0),
 (116, 60, 5.0),
 (116, 45, 5.0),
 (117, 1678, 5.0),
 (117, 43329, 5.0),
 (118, 4721, 5.0),
 (118, 13426, 5.0),
 (119, 22354, 5.0),
 (119, 46387, 5.0),
 (120, 17881, 5.0),
 (120, 614, 5.0),
 (121, 1689, 5.0),
 (121, 0, 5.0),
 (122, 6931, 5.0),
 (122, 0, 5.0),
 (123, 46031, 5.0),
 (123, 57318, 5.0),
 (124, 14509, 5.0),
 (124, 53359, 5.0),
 (125, 6931, 5.0),
 (125, 777, 5.0),
 (126, 2609, 5.0),
 (126, 0, 5.0),
 (127, 1431, 5.0),
 (127, 777, 5.0),
 (128, 11701, 5.0),
 (128, 23224, 5.0),
 (129, 1172, 5.0),
 (129, 3330, 5.0),
 (130, 48141, 5.0),
 (130, 38990, 5.0),
 (131, 1081, 5.0),
 (131, 471, 5.0),
 (132, 991, 5.0),
 (132, 0, 5.0),
 (133, 570, 5.0),
 (133, 3330, 5.0),
 (134, 991, 5.0),
 (134, 0, 5.0),
 (135, 31240, 5.0),
 (135, 3330, 5.0),
 (136, 3330, 5.0),
 (136, 0, 5.0),
 (137, 2038, 5.0),
 (137, 3330, 5.0),
 (138, 3330, 5.0),
 (138, 4748, 5.0),
 (139, 6931, 5.0),
 (139, 777, 5.0),
 (140, 6931, 5.0),
 (140, 0, 5.0),
 (141, 602, 5.0),
 (141, 0, 5.0),
 (142, 602, 5.0),
 (142, 3695, 5.0),
 (143, 30701, 5.0),
 (143, 0, 5.0),
 (144, 21926, 5.0),
 (144, 16705, 5.0),
 (145, 1622, 5.0),
 (145, 154, 5.0),
 (146, 471, 5.0),
 (146, 3330, 5.0),
 (147, 3330, 5.0),
 (147, 6931, 5.0),
 (148, 40, 5.0),
 (148, 3034, 5.0),
 (149, 1172, 5.0),
 (149, 553, 5.0),
 (150, 4748, 5.0),
 (150, 614, 5.0),
 (151, 32536, 5.0),
 (151, 30701, 5.0),
 (152, 56, 5.0),
 (152, 13281, 5.0),
 (153, 23799, 5.0),
 (153, 52650, 5.0),
 (154, 7857, 5.0),
 (154, 20, 5.0),
 (155, 0, 5.0),
 (155, 3034, 5.0),
 (156, 614, 5.0),
 (156, 0, 5.0),
 (157, 0, 5.0),
 (157, 3912, 5.0),
 (158, 6989, 5.0),
 (158, 1698, 5.0),
 (159, 553, 5.0),
 (159, 4748, 5.0),
 (160, 16336, 5.0),
 (160, 2, 5.0),
 (161, 49627, 5.0),
 (161, 36739, 5.0),
 (162, 333, 5.0),
 (162, 2038, 5.0),
 (163, 505, 5.0),
 (163, 0, 5.0),
 (164, 1689, 5.0),
 (164, 0, 5.0),
 (165, 829, 5.0),
 (165, 6931, 5.0),
 (166, 3783, 5.0),
 (166, 184, 5.0),
 (167, 829, 5.0),
 (167, 777, 5.0),
 (168, 837, 5.0),
 (168, 0, 5.0),
 (169, 16987, 5.0),
 (169, 14076, 5.0),
 (170, 1885, 5.0),
 (170, 1814, 5.0),
 (171, 570, 5.0),
 (171, 3330, 5.0),
 (172, 20, 5.0),
 (172, 614, 5.0),
 (173, 0, 5.0),
 (173, 3330, 5.0),
 (174, 1847, 5.0),
 (174, 3330, 5.0),
 (175, 9588, 5.0),
 (175, 4904, 5.0),
 (176, 40, 5.0),
 (176, 0, 5.0),
 (177, 991, 5.0),
 (177, 40, 5.0),
 (178, 8530, 5.0),
 (178, 11845, 5.0),
 (179, 12335, 5.0),
 (179, 333, 5.0),
 (180, 2813, 5.0),
 (180, 0, 5.0),
 (181, 1691, 5.0),
 (181, 1689, 5.0),
 (182, 12711, 5.0),
 (182, 6931, 5.0),
 (183, 505, 5.0),
 (183, 602, 5.0),
 (184, 0, 5.0),
 (184, 991, 5.0),
 (185, 14002, 5.0),
 (185, 20675, 5.0),
 (186, 3330, 5.0),
 (186, 0, 5.0),
 (187, 3330, 5.0),
 (187, 614, 5.0),
 (188, 40, 5.0),
 (188, 0, 5.0),
 (189, 477, 5.0),
 (189, 479, 5.0),
 (190, 1689, 5.0),
 (190, 853, 5.0),
 (191, 1567, 5.0),
 (191, 130, 5.0),
 (192, 6305, 5.0),
 (192, 1664, 5.0),
 (193, 10984, 5.0),
 (193, 11841, 5.0),
 (194, 6931, 5.0),
 (194, 29074, 5.0),
 (195, 310, 5.0),
 (195, 0, 5.0),
 (196, 1325, 5.0),
 (196, 4578, 5.0),
 (197, 333, 5.0),
 (197, 5457, 5.0),
 (198, 47323, 5.0),
 (198, 47319, 5.0),
 (199, 1, 5.0),
 (199, 991, 5.0),
 (200, 1691, 5.0),
 (200, 8066, 5.0),
 (201, 991, 5.0),
 (201, 0, 5.0),
 (202, 1689, 5.0),
 (202, 0, 5.0),
 (203, 991, 5.0),
 (203, 40891, 5.0),
 (204, 127, 5.0),
 (204, 3330, 5.0),
 (205, 151, 5.0),
 (205, 40, 5.0),
 (206, 37064, 5.0),
 (206, 49414, 5.0),
 (207, 7269, 5.0),
 (207, 40, 5.0),
 (208, 499, 5.0),
 (208, 10943, 5.0),
 (209, 1172, 5.0),
 (209, 333, 5.0),
 (210, 11423, 5.0),
 (210, 1066, 5.0),
 (211, 60, 5.0),
 (211, 2, 5.0),
 (212, 23799, 5.0),
 (212, 40891, 5.0),
 (213, 1814, 5.0),
 (213, 3034, 5.0),
 (214, 1268, 5.0),
 (214, 614, 5.0),
 (215, 1627, 5.0),
 (215, 647, 5.0),
 (216, 62, 5.0),
 (216, 2, 5.0),
 (217, 3330, 5.0),
 (217, 777, 5.0),
 (218, 614, 5.0),
 (218, 3330, 5.0),
 (219, 38990, 5.0),
 (219, 991, 5.0),
 (220, 60, 5.0),
 (220, 4649, 5.0),
 (221, 46612, 5.0),
 (221, 40891, 5.0),
 (222, 294, 5.0),
 (222, 0, 5.0),
 (223, 3912, 5.0),
 (223, 4748, 5.0),
 (224, 3695, 5.0),
 (224, 1431, 5.0),
 (225, 20, 5.0),
 (225, 0, 5.0),
 (226, 7269, 5.0),
 (226, 127, 5.0),
 (227, 776, 5.0),
 (227, 3330, 5.0),
 (228, 127, 5.0),
 (228, 602, 5.0),
 (229, 6931, 5.0),
 (229, 0, 5.0),
 (230, 602, 5.0),
 (230, 1675, 5.0),
 (231, 614, 5.0),
 (231, 570, 5.0),
 (232, 0, 5.0),
 (232, 333, 5.0),
 (233, 8546, 5.0),
 (233, 226, 5.0),
 (234, 3996, 5.0),
 (234, 4748, 5.0),
 (235, 36759, 5.0),
 (235, 512, 5.0),
 (236, 4578, 5.0),
 (236, 0, 5.0),
 (237, 151, 5.0),
 (237, 127, 5.0),
 (238, 40, 5.0),
 (238, 333, 5.0),
 (239, 3113, 5.0),
 (239, 3034, 5.0),
 (240, 777, 5.0),
 (240, 0, 5.0),
 (241, 40, 5.0),
 (241, 75, 5.0),
 (242, 570, 5.0),
 (242, 1, 5.0),
 (243, 43690, 5.0),
 (243, 985, 5.0),
 (244, 3034, 5.0),
 (244, 0, 5.0),
 (245, 602, 5.0),
 (245, 0, 5.0),
 (246, 1689, 5.0),
 (246, 991, 5.0),
 (247, 333, 5.0),
 (247, 0, 5.0),
 (248, 602, 5.0),
 (248, 241, 5.0),
 (249, 0, 5.0),
 (249, 2300, 5.0),
 (250, 17119, 5.0),
 (250, 5146, 5.0),
 (251, 0, 5.0),
 (251, 777, 5.0),
 (252, 1689, 5.0),
 (252, 5935, 5.0),
 (253, 4748, 5.0),
 (253, 0, 5.0),
 (254, 19815, 5.0),
 (254, 1228, 5.0),
 (255, 6931, 5.0),
 (255, 777, 5.0),
 (256, 570, 5.0),
 (256, 505, 5.0),
 (257, 829, 5.0),
 (257, 602, 5.0),
 (258, 40, 5.0),
 (258, 602, 5.0),
 (259, 9685, 5.0),
 (259, 0, 5.0),
 (260, 3929, 5.0),
 (260, 259, 5.0),
 (261, 3034, 5.0),
 (261, 1814, 5.0),
 (262, 8272, 5.0),
 (262, 42006, 5.0),
 (263, 17419, 5.0),
 (263, 4476, 5.0),
 (264, 127, 5.0),
 (264, 0, 5.0),
 (265, 4748, 5.0),
 (265, 614, 5.0),
 (266, 553, 5.0),
 (266, 541, 5.0),
 (267, 1814, 5.0),
 (267, 3034, 5.0),
 (268, 10591, 5.0),
 (268, 243, 5.0),
 (269, 0, 5.0),
 (269, 777, 5.0),
 (270, 570, 5.0),
 (270, 0, 5.0),
 (271, 6931, 5.0),
 (271, 0, 5.0),
 (272, 0, 5.0),
 (272, 39774, 5.0),
 (273, 0, 5.0),
 (273, 127, 5.0),
 (274, 0, 5.0),
 (274, 127, 5.0),
 (275, 36366, 5.0),
 (275, 36354, 5.0),
 (276, 546, 5.0),
 (276, 1200, 5.0),
 (277, 0, 5.0),
 (277, 3912, 5.0),
 (278, 8554, 5.0),
 (278, 22525, 5.0),
 (279, 110, 5.0),
 (279, 0, 5.0),
 (280, 40, 5.0),
 (280, 193, 5.0),
 (281, 30125, 5.0),
 (281, 8925, 5.0),
 (282, 3034, 5.0),
 (282, 10360, 5.0),
 (283, 482, 5.0),
 (283, 602, 5.0),
 (284, 952, 5.0),
 (284, 777, 5.0),
 (285, 1135, 5.0),
 (285, 0, 5.0),
 (286, 0, 5.0),
 (286, 777, 5.0),
 (287, 184, 5.0),
 (287, 280, 5.0),
 (288, 6733, 5.0),
 (288, 991, 5.0),
 (289, 20, 5.0),
 (289, 3330, 5.0),
 (290, 829, 5.0),
 (290, 505, 5.0),
 (291, 2, 5.0),
 (291, 40, 5.0),
 (292, 37206, 5.0),
 (292, 40654, 5.0),
 (293, 2700, 5.0),
 (293, 0, 5.0),
 (294, 952, 5.0),
 (294, 602, 5.0),
 (295, 408, 5.0),
 (295, 40, 5.0),
 (296, 41110, 5.0),
 (296, 40891, 5.0),
 (297, 8371, 5.0),
 (297, 0, 5.0),
 (298, 248, 5.0),
 (298, 0, 5.0),
 (299, 505, 5.0),
 (299, 3912, 5.0),
 (300, 422, 5.0),
 (300, 1635, 5.0),
 (301, 1814, 5.0),
 (301, 614, 5.0),
 (302, 2038, 5.0),
 (302, 6578, 5.0),
 (303, 41245, 5.0),
 (303, 41114, 5.0),
 (304, 130, 5.0),
 (304, 127, 5.0),
 (305, 829, 5.0),
 (305, 4382, 5.0),
 (306, 0, 5.0),
 (306, 777, 5.0),
 (307, 991, 5.0),
 (307, 7344, 5.0),
 (308, 38420, 5.0),
 (308, 0, 5.0),
 (309, 110, 5.0),
 (309, 3034, 5.0),
 (310, 36478, 5.0),
 (310, 4881, 5.0),
 (311, 14346, 5.0),
 (311, 1599, 5.0),
 (312, 40, 5.0),
 (312, 0, 5.0),
 (313, 3330, 5.0),
 (313, 0, 5.0),
 (314, 9051, 5.0),
 (314, 0, 5.0),
 (315, 45, 5.0),
 (315, 62, 5.0),
 (316, 26875, 5.0),
 (316, 991, 5.0),
 (317, 40, 5.0),
 (317, 3330, 5.0),
 (318, 0, 5.0),
 (318, 40, 5.0),
 (319, 27255, 5.0),
 (319, 11230, 5.0),
 (320, 1202, 5.0),
 (320, 738, 5.0),
 (321, 0, 5.0),
 (321, 40, 5.0),
 (322, 1194, 5.0),
 (322, 1193, 5.0),
 (323, 0, 5.0),
 (323, 777, 5.0),
 (324, 1717, 5.0),
 (324, 3330, 5.0),
 (325, 0, 5.0),
 (325, 2, 5.0),
 (326, 14360, 5.0),
 (326, 48843, 5.0),
 (327, 18075, 5.0),
 (327, 1567, 5.0),
 (328, 614, 5.0),
 (328, 0, 5.0),
 (329, 12953, 5.0),
 (329, 505, 5.0),
 (330, 0, 5.0),
 (330, 777, 5.0),
 (331, 1939, 5.0),
 (331, 1431, 5.0),
 (332, 29155, 5.0),
 (332, 0, 5.0),
 (333, 2200, 5.0),
 (333, 8746, 5.0),
 (334, 642, 5.0),
 (334, 4660, 5.0),
 (335, 505, 5.0),
 (335, 614, 5.0),
 (336, 23988, 5.0),
 (336, 24291, 5.0),
 (337, 0, 5.0),
 (337, 3330, 5.0),
 (338, 32282, 5.0),
 (338, 34050, 5.0),
 (339, 53620, 5.0),
 (339, 54126, 5.0),
 (340, 6729, 5.0),
 (340, 619, 5.0),
 (341, 0, 5.0),
 (341, 4681, 5.0),
 (342, 6931, 5.0),
 (342, 505, 5.0),
 (343, 12335, 5.0),
 (343, 31677, 5.0),
 (344, 6218, 5.0),
 (344, 4748, 5.0),
 (345, 5424, 5.0),
 (345, 479, 5.0),
 (346, 45, 5.0),
 (346, 0, 5.0),
 (347, 2512, 5.0),
 (347, 12756, 5.0),
 (348, 3034, 5.0),
 (348, 60, 5.0),
 (349, 602, 5.0),
 (349, 1268, 5.0),
 (350, 1691, 5.0),
 (350, 1689, 5.0),
 (351, 541, 5.0),
 (351, 110, 5.0),
 (352, 602, 5.0),
 (352, 6931, 5.0),
 (353, 3034, 5.0),
 (353, 0, 5.0),
 (354, 6931, 5.0),
 (354, 602, 5.0),
 (355, 837, 5.0),
 (355, 0, 5.0),
 (356, 133, 5.0),
 (356, 13700, 5.0),
 (357, 13813, 5.0),
 (357, 777, 5.0),
 (358, 6335, 5.0),
 (358, 0, 5.0),
 (359, 1885, 5.0),
 (359, 777, 5.0),
 (360, 3695, 5.0),
 (360, 4748, 5.0),
 (361, 51336, 5.0),
 (361, 54808, 5.0),
 (362, 8173, 5.0),
 (362, 3778, 5.0),
 (363, 32743, 5.0),
 (363, 2616, 5.0),
 (364, 570, 5.0),
 (364, 0, 5.0),
 (365, 42, 5.0),
 (365, 0, 5.0),
 (366, 294, 5.0),
 (366, 0, 5.0),
 (367, 3113, 5.0),
 (367, 310, 5.0),
 (368, 39382, 5.0),
 (368, 1725, 5.0),
 (369, 0, 5.0),
 (369, 310, 5.0),
 (370, 3034, 5.0),
 (370, 184, 5.0),
 (371, 0, 5.0),
 (371, 3330, 5.0),
 (372, 614, 5.0),
 (372, 3330, 5.0),
 (373, 4267, 5.0),
 (373, 20, 5.0),
 (374, 2681, 5.0),
 (374, 6335, 5.0),
 (375, 7926, 5.0),
 (375, 18263, 5.0),
 (376, 8161, 5.0),
 (376, 5532, 5.0),
 (377, 150, 5.0),
 (377, 777, 5.0),
 (378, 8066, 5.0),
 (378, 952, 5.0),
 (379, 903, 5.0),
 (379, 7072, 5.0),
 (380, 152, 5.0),
 (380, 0, 5.0),
 (381, 602, 5.0),
 (381, 991, 5.0),
 (382, 3912, 5.0),
 (382, 570, 5.0),
 (383, 602, 5.0),
 (383, 8066, 5.0),
 (384, 991, 5.0),
 (384, 0, 5.0),
 (385, 614, 5.0),
 (385, 777, 5.0),
 (386, 602, 5.0),
 (386, 3330, 5.0),
 (387, 248, 5.0),
 (387, 3330, 5.0),
 (388, 40, 5.0),
 (388, 130, 5.0),
 (389, 1675, 5.0),
 (389, 602, 5.0),
 (390, 110, 5.0),
 (390, 3330, 5.0),
 (391, 40, 5.0),
 (391, 3034, 5.0),
 (392, 1859, 5.0),
 (392, 0, 5.0),
 (393, 8922, 5.0),
 (393, 40891, 5.0),
 (394, 130, 5.0),
 (394, 40, 5.0),
 (395, 13552, 5.0),
 (395, 12475, 5.0),
 (396, 6733, 5.0),
 (396, 991, 5.0),
 (397, 40, 5.0),
 (397, 45, 5.0),
 (398, 39102, 5.0),
 (398, 3695, 5.0),
 (399, 0, 5.0),
 (399, 40, 5.0),
 (400, 41114, 5.0),
 (400, 777, 5.0),
 (401, 956, 5.0),
 (401, 0, 5.0),
 (402, 0, 5.0),
 (402, 777, 5.0),
 (403, 30067, 5.0),
 (403, 333, 5.0),
 (404, 853, 5.0),
 (404, 614, 5.0),
 (405, 20541, 5.0),
 (405, 0, 5.0),
 (406, 553, 5.0),
 (406, 0, 5.0),
 (407, 294, 5.0),
 (407, 40, 5.0),
 (408, 3096, 5.0),
 (408, 22774, 5.0),
 (409, 777, 5.0),
 (409, 991, 5.0),
 (410, 62, 5.0),
 (410, 614, 5.0),
 (411, 7798, 5.0),
 (411, 602, 5.0),
 (412, 38990, 5.0),
 (412, 505, 5.0),
 (413, 2300, 5.0),
 (413, 3912, 5.0),
 (414, 0, 5.0),
 (414, 110, 5.0),
 (415, 40953, 5.0),
 (415, 0, 5.0),
 (416, 3612, 5.0),
 (416, 2635, 5.0),
 (417, 3330, 5.0),
 (417, 0, 5.0),
 (418, 3330, 5.0),
 (418, 0, 5.0),
 (419, 38615, 5.0),
 (419, 33626, 5.0),
 (420, 4550, 5.0),
 (420, 4748, 5.0),
 (421, 4578, 5.0),
 (421, 0, 5.0),
 (422, 4681, 5.0),
 (422, 5303, 5.0),
 (423, 127, 5.0),
 (423, 0, 5.0),
 (424, 45, 5.0),
 (424, 40, 5.0),
 (425, 12861, 5.0),
 (425, 40891, 5.0),
 (426, 176, 5.0),
 (426, 5532, 5.0),
 (427, 956, 5.0),
 (427, 602, 5.0),
 (428, 40, 5.0),
 (428, 551, 5.0),
 (429, 283, 5.0),
 (429, 133, 5.0),
 (430, 4578, 5.0),
 (430, 32663, 5.0),
 (431, 776, 5.0),
 (431, 777, 5.0),
 (432, 3096, 5.0),
 (432, 570, 5.0),
 (433, 310, 5.0),
 (433, 3330, 5.0),
 (434, 7269, 5.0),
 (434, 0, 5.0),
 (435, 195, 5.0),
 (435, 434, 5.0),
 (436, 35588, 5.0),
 (436, 29729, 5.0),
 (437, 3330, 5.0),
 (437, 33112, 5.0),
 (438, 2, 5.0),
 (438, 40, 5.0),
 (439, 3330, 5.0),
 (439, 0, 5.0),
 (440, 294, 5.0),
 (440, 0, 5.0),
 (441, 41110, 5.0),
 (441, 602, 5.0),
 (442, 6931, 5.0),
 (442, 602, 5.0),
 (443, 1, 5.0),
 (443, 991, 5.0),
 (444, 40, 5.0),
 (444, 3034, 5.0),
 (445, 6578, 5.0),
 (445, 40, 5.0),
 (446, 776, 5.0),
 (446, 777, 5.0),
 (447, 38990, 5.0),
 (447, 37963, 5.0),
 (448, 45, 5.0),
 (448, 60, 5.0),
 (449, 0, 5.0),
 (449, 991, 5.0),
 (450, 777, 5.0),
 (450, 62, 5.0),
 (451, 3704, 5.0),
 (451, 56773, 5.0),
 (452, 37541, 5.0),
 (452, 7269, 5.0),
 (453, 0, 5.0),
 (453, 37541, 5.0),
 (454, 0, 5.0),
 (454, 3034, 5.0),
 (455, 151, 5.0),
 (455, 127, 5.0),
 (456, 0, 5.0),
 (456, 52179, 5.0),
 (457, 680, 5.0),
 (457, 6931, 5.0),
 (458, 3034, 5.0),
 (458, 0, 5.0),
 (459, 3113, 5.0),
 (459, 602, 5.0),
 (460, 3912, 5.0),
 (460, 2038, 5.0),
 (461, 6931, 5.0),
 (461, 0, 5.0),
 (462, 54227, 5.0),
 (462, 3330, 5.0),
 (463, 3330, 5.0),
 (463, 110, 5.0),
 (464, 38990, 5.0),
 (464, 777, 5.0),
 (465, 0, 5.0),
 (465, 991, 5.0),
 (466, 5240, 5.0),
 (466, 5889, 5.0),
 (467, 47456, 5.0),
 (467, 41074, 5.0),
 (468, 505, 5.0),
 (468, 602, 5.0),
 (469, 6931, 5.0),
 (469, 0, 5.0),
 (470, 981, 5.0),
 (470, 814, 5.0),
 (471, 991, 5.0),
 (471, 37541, 5.0),
 (472, 602, 5.0),
 (472, 40, 5.0),
 (473, 294, 5.0),
 (473, 40, 5.0),
 (474, 0, 5.0),
 (474, 42108, 5.0),
 (475, 40, 5.0),
 (475, 602, 5.0),
 (476, 20, 5.0),
 (476, 602, 5.0),
 (477, 7269, 5.0),
 (477, 40268, 5.0),
 (478, 40, 5.0),
 (478, 127, 5.0),
 (479, 38990, 5.0),
 (479, 40, 5.0),
 (480, 333, 5.0),
 (480, 26875, 5.0),
 (481, 40, 5.0),
 (481, 45, 5.0),
 (482, 3330, 5.0),
 (482, 27986, 5.0),
 (483, 26190, 5.0),
 (483, 0, 5.0),
 (484, 1814, 5.0),
 (484, 3034, 5.0),
 (485, 1172, 5.0),
 (485, 3330, 5.0),
 (486, 36086, 5.0),
 (486, 20, 5.0),
 (487, 3330, 5.0),
 (487, 34382, 5.0),
 (488, 602, 5.0),
 (488, 991, 5.0),
 (489, 6931, 5.0),
 (489, 0, 5.0),
 (490, 4002, 5.0),
 (490, 505, 5.0),
 (491, 6578, 5.0),
 (491, 4748, 5.0),
 (492, 7870, 5.0),
 (492, 310, 5.0),
 (493, 17131, 5.0),
 (493, 0, 5.0),
 (494, 1689, 5.0),
 (494, 0, 5.0),
 (495, 602, 5.0),
 (495, 991, 5.0),
 (496, 12711, 5.0),
 (496, 777, 5.0),
 (497, 0, 5.0),
 (497, 1689, 5.0),
 (498, 878, 5.0),
 (498, 0, 5.0),
 (499, 0, 5.0),
 (499, 40, 5.0),
 ...]

In [86]:
test_predictions_df = pd.DataFrame(test_predictions, columns=['user_idx', 'book_idx', 'rating'])
test_predictions_df.head(4)

   user_idx  book_idx  rating
0         0      6509     5.0
1         0        20     5.0
2         1     19267     5.0
3         1       777     5.0

In [87]:
test_predictions_df[test_predictions_df['rating'] != 5]

Empty DataFrame
Columns: [user_idx, book_idx, rating]
Index: []

In [88]:
def dcg_at_k(ratings, k):
    """Calculate DCG for a list of ratings at rank k."""
    ratings = np.asfarray(ratings)[:k]
    if ratings.size:
        return np.sum(ratings / np.log2(np.arange(2, ratings.size + 2)))
    return 0.0

def ndcg_at_k(actual_ratings, predicted_ratings, k):
    """Calculate NDCG at k."""
    ideal_ratings = sorted(actual_ratings, reverse=True)
    dcg_max = dcg_at_k(ideal_ratings, k)
    dcg_pred = dcg_at_k(predicted_ratings, k)
    return dcg_pred / dcg_max if dcg_max > 0 else 0

def weighted_ndcg(actual_ratings, predicted_ratings, k, weight=0.5):
    """Calculate Weighted NDCG by adjusting with MAE or RMSE error penalty."""
    # Step 1: Calculate standard NDCG
    ndcg = ndcg_at_k(actual_ratings, predicted_ratings, k)
    
    # Step 2: Calculate error penalty (MAE in this case)
    errors = [abs(a - p) for a, p in zip(actual_ratings, predicted_ratings)]
    mae = np.mean(errors)
    
    # Step 3: Adjust NDCG by penalty
    # Reduce NDCG proportionally by the weighted error term
    weighted_ndcg = ndcg - (weight * mae)
    return max(0, weighted_ndcg)  # Ensure the score doesn't go below 0

k = 2                               # Rank level for NDCG calculation
weight = 0.5                        # Weight for the MAE penalty (adjustable)

weighted_ndcg_score = weighted_ndcg(test_data['rating'], test_predictions_df['rating'], k, weight)
print("Weighted NDCG:", weighted_ndcg_score)

Weighted NDCG: 0.5646215982305991

In [ ]:
# Convert test data to DataFrame for easier manipulation
test_data_df = pd.DataFrame(test_data, columns=['user_idx', 'book_idx', 'rating'])

# Map actual ratings to relevance scores
test_data_df['relevance'] = test_data_df['rating']

In [90]:
def dcg_at_k(relevance_scores, k):
    """
    Compute the Discounted Cumulative Gain (DCG) at rank position k.

    Parameters:
    - relevance_scores: List of relevance scores for items at the top-k positions
    - k: Rank position to compute DCG

    Returns:
    - DCG at rank k
    """
    relevance_scores = np.asarray(relevance_scores)[:k]
    if relevance_scores.size:
        return np.sum((2**relevance_scores - 1) / np.log2(np.arange(2, relevance_scores.size + 2)))
    return 0.

def ndcg_at_k(relevance_scores, ideal_relevance_scores, k):
    """
    Compute the Normalized Discounted Cumulative Gain (NDCG) at rank position k.

    Parameters:
    - relevance_scores: List of relevance scores for the predicted ranking
    - ideal_relevance_scores: List of relevance scores for the ideal ranking
    - k: Rank position to compute NDCG

    Returns:
    - NDCG at rank k
    """
    dcg = dcg_at_k(relevance_scores, k)
    idcg = dcg_at_k(ideal_relevance_scores, k)
    if idcg == 0:
        return 0.
    return dcg / idcg

In [91]:
def compute_ndcg_for_user(user_idx, predictions_df, k=10):
    user_predictions = predictions_df[predictions_df['user_idx'] == user_idx]
    user_predictions = user_predictions.sort_values(by='predicted_rating', ascending=False)

    # Get relevance scores in the predicted order
    relevance_scores = user_predictions['relevance'].tolist()

    # Ideal relevance scores
    ideal_relevance_scores = sorted(relevance_scores, reverse=True)

    return ndcg_at_k(relevance_scores, ideal_relevance_scores, k)


def compute_overall_ndcg(test_data_df, predictions, k=10):
    predictions_df = pd.DataFrame(predictions, columns=['user_idx', 'book_idx', 'predicted_rating'])
    merged_df = pd.merge(test_data_df[['user_idx', 'book_idx', 'relevance']], predictions_df, on=['user_idx', 'book_idx'], how='inner')

    if len(merged_df) < len(test_data_df):
        print(f"Warning: Some test data points ({len(test_data_df) - len(merged_df)}) could not be matched with predictions.")

    user_idxs = merged_df['user_idx'].unique()
    ndcg_scores = [compute_ndcg_for_user(user_idx, merged_df, k) for user_idx in user_idxs]

    return np.mean(ndcg_scores)

# Compute NDCG for test set
overall_ndcg = compute_overall_ndcg(test_data_df, test_predictions)
print(f"Overall NDCG@10: {overall_ndcg}")

Overall NDCG@10: 0.9362536255193167

### Prediction for ALL unread books

#### If we were to predict a probability that a user will read a book / a rating for <b> ALL unread books </b>

- Did not follow through with this as our datasets are very big, with the books dataset having almost 60k unique books and almost 21k unique users which is already scaled down through our sampling efforts.
- Each sampled user has around 5-15 interactions in the training set and test sets combined, with 2 of each user's interactions being in the test set, leaving around 3-13 interactions in the training set.
- Thus, will take a long time to predict the 50k+ unread books for each of the 21k users. I tried scaling it down to predict for ~1000 users and also using a larger batch size of 1024, but 1 batch took around 0.3s and in total, the number of data from the combinations of user-book pairings for all the unread books for each user still totaled to 62,214,416 which would essentially take at least 5h to run (in addition to the memory space required), and I would still need to tune hyperparameters.

But nevertheless, the code below is the attempt to sample and run the predictions for around 1000 randomly sampled users. The activation function of the last layer of the NCF model can be altered to either predict a probability that a user will read a book or rating that the user will give.

#### Defining Test Data
Test set is to contain all user-book pairings of books that user has not read (any user-book pairing not in the training set)

In [92]:
train_data['user_idx'].nunique()

20798

In [93]:
train_data['user_idx'].nunique() * 0.05

1039.9

There are almost 21,000 unique users in the training set. Thus, we will randomly sample 5% of users to generate predictions and evaluate the model (around 1000 people).

In [94]:
# # Create test data by excluding books that user has already rated
# def get_unread_books_for_user(user_idx, train_data, all_books):
#     # Get the books the user has already interacted with (from train_data)
#     books_read_by_user = train_data[train_data['user_idx'] == user_idx]['book_idx']

#     # Get the books in books_meta_clean that the user has not read
#     unread_books = books_meta_clean[~books_meta_clean['book_idx'].isin(books_read_by_user)]
#     return np.transpose(unread_books['book_idx'])

# # Randomly sample users (can try to increase frac if there's time to run)
# sampled_user_idx = pd.Series(train_data['user_idx'].unique()).sample(frac=0.05, random_state=42)

In [95]:
# # List to store test data
# X_test = []

# # Loop through each user and add their unread books to the test data
# for user_idx in sampled_user_idx:
#     unread_books = get_unread_books_for_user(user_idx, train_data, books_meta_clean)
#     # Create rows for each unread book
#     for book_idx in unread_books:
#         X_test.append({'user_idx': user_idx, 'book_idx': book_idx})

In [96]:
# Create a DataFrame from the list of dictionaries
# X_test = pd.DataFrame(X_test)

In [97]:
# Save X_test so that I don't have to run the above again
# X_test.to_csv('X_test.csv', index=False)

In [ ]:
X_test = pd.read_csv('X_test.csv')

In [ ]:
print(X_test.shape)
X_test.head(10)

(62214416, 2)

   user_idx  book_idx
0      1346     24217
1      1346      3475
2      1346     37931
3      1346     52943
4      1346     51907
5      1346     31721
6      1346     28544
7      1346     59543
8      1346     50622
9      1346     35143

The BooksDataset would have to be defined differently for this approach to not take ratings as an input for testing as the user-unread book pairings would not have an actual rating.

In [ ]:
class BooksDataset(Dataset):
    def __init__(self, data, book_features, is_train=True):
        self.data = data
        self.book_features = book_features

        # Flag to indicate if this is training or testing
        self.is_train = is_train
        
    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, idx):
        row = self.data.iloc[idx]
        user_idx = row['user_idx']
        book_idx = row['book_idx']
        
        # Extract book metadata
        book_meta = torch.tensor(self.book_features.loc[book_idx].values.astype(np.float32), dtype=torch.float)
        
        # Prepare the data dictionary
        data_dict = {
            'user_idx': torch.tensor(user_idx, dtype=torch.long),
            'book_idx': torch.tensor(book_idx, dtype=torch.long),
            'book_meta': book_meta
        }
        
        if self.is_train:
            # For testing, rating is not required
            data_dict['rating'] = torch.tensor(row['rating'], dtype=torch.float)
        
        return data_dict

In [ ]:
# is_train is set to false such that ratings for each user-unread book pair does not have to be inputed during testing
test_dataset = BooksDataset(X_test, books_meta_clean, is_train=False) 

test_loader = DataLoader(test_dataset, batch_size=1024) # Setting higher batch size than train_loader to speed up predictions

In [ ]:
test_dataset = BooksDataset(test_data, books_meta_clean, is_train=False)
test_loader = DataLoader(test_dataset, batch_size=BATCH_SIZE)

In [ ]:
def generate_predictions(model, data_loader, books_meta_clean):
    model.eval()
    predictions = []
    with torch.no_grad():
        for batch in data_loader:
            user_idx = batch['user_idx']
            book_idx = batch['book_idx']
            meta_data = batch['book_meta']
            outputs = model(user_idx, book_idx, meta_data)
            predictions.extend(zip(user_idx.numpy(), book_idx.numpy(), outputs.numpy()))
            break
    return predictions

test_predictions = generate_predictions(model, test_loader, books_meta_clean)

In [ ]:
print(test_predictions)

[(0, 6509, 5.0), (0, 20, 5.0), (1, 19267, 5.0), (1, 777, 5.0), (2, 1627, 5.0), (2, 28216, 5.0), (3, 777, 5.0), (3, 3330, 5.0), (4, 333, 5.0), (4, 3330, 5.0), (5, 133, 5.0), (5, 127, 5.0), (6, 776, 5.0), (6, 777, 5.0), (7, 0, 5.0), (7, 20, 5.0), (8, 13785, 5.0), (8, 0, 5.0), (9, 248, 5.0), (9, 777, 5.0), (10, 5669, 5.0), (10, 860, 5.0), (11, 3034, 5.0), (11, 0, 5.0), (12, 3034, 5.0), (12, 45, 5.0), (13, 482, 5.0), (13, 602, 5.0), (14, 6931, 5.0), (14, 777, 5.0), (15, 2648, 5.0), (15, 46073, 5.0), (16, 553, 5.0), (16, 1172, 5.0), (17, 570, 5.0), (17, 6931, 5.0), (18, 7269, 5.0), (18, 50592, 5.0), (19, 614, 5.0), (19, 310, 5.0), (20, 1172, 5.0), (20, 0, 5.0), (21, 654, 5.0), (21, 20387, 5.0), (22, 952, 5.0), (22, 280, 5.0), (23, 53694, 5.0), (23, 32073, 5.0), (24, 505, 5.0), (24, 602, 5.0), (25, 37479, 5.0), (25, 31717, 5.0), (26, 62, 5.0), (26, 40, 5.0), (27, 952, 5.0), (27, 40, 5.0), (28, 6931, 5.0), (28, 3330, 5.0), (29, 33271, 5.0), (29, 6567, 5.0), (30, 8171, 5.0), (30, 3221, 5.0), (31, 380, 5.0), (31, 6931, 5.0), (32, 776, 5.0), (32, 777, 5.0), (33, 40, 5.0), (33, 3330, 5.0), (34, 1675, 5.0), (34, 248, 5.0), (35, 644, 5.0), (35, 3603, 5.0), (36, 2218, 5.0), (36, 3967, 5.0), (37, 127, 5.0), (37, 3541, 5.0), (38, 777, 5.0), (38, 40654, 5.0), (39, 1689, 5.0), (39, 40, 5.0), (40, 5922, 5.0), (40, 0, 5.0), (41, 151, 5.0), (41, 127, 5.0), (42, 1515, 5.0), (42, 979, 5.0), (43, 471, 5.0), (43, 3113, 5.0), (44, 4748, 5.0), (44, 614, 5.0), (45, 0, 5.0), (45, 248, 5.0), (46, 2038, 5.0), (46, 40, 5.0), (47, 241, 5.0), (47, 184, 5.0), (48, 45, 5.0), (48, 777, 5.0), (49, 7798, 5.0), (49, 777, 5.0), (50, 614, 5.0), (50, 259, 5.0), (51, 570, 5.0), (51, 602, 5.0), (52, 505, 5.0), (52, 602, 5.0), (53, 294, 5.0), (53, 0, 5.0), (54, 1689, 5.0), (54, 127, 5.0), (55, 1490, 5.0), (55, 8171, 5.0), (56, 338, 5.0), (56, 991, 5.0), (57, 16038, 5.0), (57, 2603, 5.0), (58, 570, 5.0), (58, 0, 5.0), (59, 570, 5.0), (59, 0, 5.0), (60, 183, 5.0), (60, 4002, 5.0), (61, 248, 5.0), (61, 0, 5.0), (62, 3034, 5.0), (62, 0, 5.0), (63, 3910, 5.0), (63, 56469, 5.0), (64, 4232, 5.0), (64, 5303, 5.0), (65, 47320, 5.0), (65, 3912, 5.0), (66, 3330, 5.0), (66, 991, 5.0), (67, 0, 5.0), (67, 1689, 5.0), (68, 777, 5.0), (68, 546, 5.0), (69, 38030, 5.0), (69, 32707, 5.0), (70, 127, 5.0), (70, 0, 5.0), (71, 991, 5.0), (71, 602, 5.0), (72, 2, 5.0), (72, 45, 5.0), (73, 0, 5.0), (73, 777, 5.0), (74, 991, 5.0), (74, 614, 5.0), (75, 321, 5.0), (75, 294, 5.0), (76, 0, 5.0), (76, 777, 5.0), (77, 0, 5.0), (77, 40891, 5.0), (78, 6989, 5.0), (78, 1698, 5.0), (79, 614, 5.0), (79, 43539, 5.0), (80, 0, 5.0), (80, 777, 5.0), (81, 602, 5.0), (81, 991, 5.0), (82, 1068, 5.0), (82, 2381, 5.0), (83, 127, 5.0), (83, 602, 5.0), (84, 40, 5.0), (84, 0, 5.0), (85, 294, 5.0), (85, 777, 5.0), (86, 570, 5.0), (86, 62, 5.0), (87, 40, 5.0), (87, 0, 5.0), (88, 602, 5.0), (88, 991, 5.0), (89, 3330, 5.0), (89, 0, 5.0), (90, 23799, 5.0), (90, 7269, 5.0), (91, 553, 5.0), (91, 614, 5.0), (92, 294, 5.0), (92, 777, 5.0), (93, 149, 5.0), (93, 130, 5.0), (94, 50733, 5.0), (94, 40654, 5.0), (95, 3394, 5.0), (95, 1389, 5.0), (96, 47786, 5.0), (96, 127, 5.0), (97, 0, 5.0), (97, 777, 5.0), (98, 3330, 5.0), (98, 3912, 5.0), (99, 5277, 5.0), (99, 40891, 5.0), (100, 20, 5.0), (100, 6335, 5.0), (101, 10412, 5.0), (101, 40567, 5.0), (102, 505, 5.0), (102, 0, 5.0), (103, 1614, 5.0), (103, 3330, 5.0), (104, 33733, 5.0), (104, 30701, 5.0), (105, 1172, 5.0), (105, 484, 5.0), (106, 991, 5.0), (106, 1325, 5.0), (107, 127, 5.0), (107, 602, 5.0), (108, 198, 5.0), (108, 40, 5.0), (109, 4748, 5.0), (109, 602, 5.0), (110, 602, 5.0), (110, 777, 5.0), (111, 647, 5.0), (111, 3395, 5.0), (112, 9345, 5.0), (112, 7798, 5.0), (113, 553, 5.0), (113, 614, 5.0), (114, 31677, 5.0), (114, 30067, 5.0), (115, 952, 5.0), (115, 6733, 5.0), (116, 60, 5.0), (116, 45, 5.0), (117, 1678, 5.0), (117, 43329, 5.0), (118, 4721, 5.0), (118, 13426, 5.0), (119, 22354, 5.0), (119, 46387, 5.0), (120, 17881, 5.0), (120, 614, 5.0), (121, 1689, 5.0), (121, 0, 5.0), (122, 6931, 5.0), (122, 0, 5.0), (123, 46031, 5.0), (123, 57318, 5.0), (124, 14509, 5.0), (124, 53359, 5.0), (125, 6931, 5.0), (125, 777, 5.0), (126, 2609, 5.0), (126, 0, 5.0), (127, 1431, 5.0), (127, 777, 5.0), (128, 11701, 5.0), (128, 23224, 5.0), (129, 1172, 5.0), (129, 3330, 5.0), (130, 48141, 5.0), (130, 38990, 5.0), (131, 1081, 5.0), (131, 471, 5.0), (132, 991, 5.0), (132, 0, 5.0), (133, 570, 5.0), (133, 3330, 5.0), (134, 991, 5.0), (134, 0, 5.0), (135, 31240, 5.0), (135, 3330, 5.0), (136, 3330, 5.0), (136, 0, 5.0), (137, 2038, 5.0), (137, 3330, 5.0), (138, 3330, 5.0), (138, 4748, 5.0), (139, 6931, 5.0), (139, 777, 5.0), (140, 6931, 5.0), (140, 0, 5.0), (141, 602, 5.0), (141, 0, 5.0), (142, 602, 5.0), (142, 3695, 5.0), (143, 30701, 5.0), (143, 0, 5.0), (144, 21926, 5.0), (144, 16705, 5.0), (145, 1622, 5.0), (145, 154, 5.0), (146, 471, 5.0), (146, 3330, 5.0), (147, 3330, 5.0), (147, 6931, 5.0), (148, 40, 5.0), (148, 3034, 5.0), (149, 1172, 5.0), (149, 553, 5.0), (150, 4748, 5.0), (150, 614, 5.0), (151, 32536, 5.0), (151, 30701, 5.0), (152, 56, 5.0), (152, 13281, 5.0), (153, 23799, 5.0), (153, 52650, 5.0), (154, 7857, 5.0), (154, 20, 5.0), (155, 0, 5.0), (155, 3034, 5.0), (156, 614, 5.0), (156, 0, 5.0), (157, 0, 5.0), (157, 3912, 5.0), (158, 6989, 5.0), (158, 1698, 5.0), (159, 553, 5.0), (159, 4748, 5.0), (160, 16336, 5.0), (160, 2, 5.0), (161, 49627, 5.0), (161, 36739, 5.0), (162, 333, 5.0), (162, 2038, 5.0), (163, 505, 5.0), (163, 0, 5.0), (164, 1689, 5.0), (164, 0, 5.0), (165, 829, 5.0), (165, 6931, 5.0), (166, 3783, 5.0), (166, 184, 5.0), (167, 829, 5.0), (167, 777, 5.0), (168, 837, 5.0), (168, 0, 5.0), (169, 16987, 5.0), (169, 14076, 5.0), (170, 1885, 5.0), (170, 1814, 5.0), (171, 570, 5.0), (171, 3330, 5.0), (172, 20, 5.0), (172, 614, 5.0), (173, 0, 5.0), (173, 3330, 5.0), (174, 1847, 5.0), (174, 3330, 5.0), (175, 9588, 5.0), (175, 4904, 5.0), (176, 40, 5.0), (176, 0, 5.0), (177, 991, 5.0), (177, 40, 5.0), (178, 8530, 5.0), (178, 11845, 5.0), (179, 12335, 5.0), (179, 333, 5.0), (180, 2813, 5.0), (180, 0, 5.0), (181, 1691, 5.0), (181, 1689, 5.0), (182, 12711, 5.0), (182, 6931, 5.0), (183, 505, 5.0), (183, 602, 5.0), (184, 0, 5.0), (184, 991, 5.0), (185, 14002, 5.0), (185, 20675, 5.0), (186, 3330, 5.0), (186, 0, 5.0), (187, 3330, 5.0), (187, 614, 5.0), (188, 40, 5.0), (188, 0, 5.0), (189, 477, 5.0), (189, 479, 5.0), (190, 1689, 5.0), (190, 853, 5.0), (191, 1567, 5.0), (191, 130, 5.0), (192, 6305, 5.0), (192, 1664, 5.0), (193, 10984, 5.0), (193, 11841, 5.0), (194, 6931, 5.0), (194, 29074, 5.0), (195, 310, 5.0), (195, 0, 5.0), (196, 1325, 5.0), (196, 4578, 5.0), (197, 333, 5.0), (197, 5457, 5.0), (198, 47323, 5.0), (198, 47319, 5.0), (199, 1, 5.0), (199, 991, 5.0), (200, 1691, 5.0), (200, 8066, 5.0), (201, 991, 5.0), (201, 0, 5.0), (202, 1689, 5.0), (202, 0, 5.0), (203, 991, 5.0), (203, 40891, 5.0), (204, 127, 5.0), (204, 3330, 5.0), (205, 151, 5.0), (205, 40, 5.0), (206, 37064, 5.0), (206, 49414, 5.0), (207, 7269, 5.0), (207, 40, 5.0), (208, 499, 5.0), (208, 10943, 5.0), (209, 1172, 5.0), (209, 333, 5.0), (210, 11423, 5.0), (210, 1066, 5.0), (211, 60, 5.0), (211, 2, 5.0), (212, 23799, 5.0), (212, 40891, 5.0), (213, 1814, 5.0), (213, 3034, 5.0), (214, 1268, 5.0), (214, 614, 5.0), (215, 1627, 5.0), (215, 647, 5.0), (216, 62, 5.0), (216, 2, 5.0), (217, 3330, 5.0), (217, 777, 5.0), (218, 614, 5.0), (218, 3330, 5.0), (219, 38990, 5.0), (219, 991, 5.0), (220, 60, 5.0), (220, 4649, 5.0), (221, 46612, 5.0), (221, 40891, 5.0), (222, 294, 5.0), (222, 0, 5.0), (223, 3912, 5.0), (223, 4748, 5.0), (224, 3695, 5.0), (224, 1431, 5.0), (225, 20, 5.0), (225, 0, 5.0), (226, 7269, 5.0), (226, 127, 5.0), (227, 776, 5.0), (227, 3330, 5.0), (228, 127, 5.0), (228, 602, 5.0), (229, 6931, 5.0), (229, 0, 5.0), (230, 602, 5.0), (230, 1675, 5.0), (231, 614, 5.0), (231, 570, 5.0), (232, 0, 5.0), (232, 333, 5.0), (233, 8546, 5.0), (233, 226, 5.0), (234, 3996, 5.0), (234, 4748, 5.0), (235, 36759, 5.0), (235, 512, 5.0), (236, 4578, 5.0), (236, 0, 5.0), (237, 151, 5.0), (237, 127, 5.0), (238, 40, 5.0), (238, 333, 5.0), (239, 3113, 5.0), (239, 3034, 5.0), (240, 777, 5.0), (240, 0, 5.0), (241, 40, 5.0), (241, 75, 5.0), (242, 570, 5.0), (242, 1, 5.0), (243, 43690, 5.0), (243, 985, 5.0), (244, 3034, 5.0), (244, 0, 5.0), (245, 602, 5.0), (245, 0, 5.0), (246, 1689, 5.0), (246, 991, 5.0), (247, 333, 5.0), (247, 0, 5.0), (248, 602, 5.0), (248, 241, 5.0), (249, 0, 5.0), (249, 2300, 5.0), (250, 17119, 5.0), (250, 5146, 5.0), (251, 0, 5.0), (251, 777, 5.0), (252, 1689, 5.0), (252, 5935, 5.0), (253, 4748, 5.0), (253, 0, 5.0), (254, 19815, 5.0), (254, 1228, 5.0), (255, 6931, 5.0), (255, 777, 5.0)]

In [ ]:
test_data[test_data['user_idx'] == 1346]

,user_id,book_id,rating,date_added,n_votes,review_age,sentiment,user_idx,book_idx
2692,1346,5,5,2015-08-08 21:08:15+00:00,NaN,3349,0.574139,1346,0
2693,1346,1327679,3,2015-08-08 18:40:20+00:00,NaN,3349,0.406860,1346,20146

#### Recommendation Method

If we were to generate a probability / predicted rating for all unread books by each user, we could group by the user idx and sort based on the predicted probability that the user would read the book / predicted rating and retrieve the top k (10) books to recommend.

In [ ]:
# Convert to DataFrame
df = pd.DataFrame(test_predictions, columns=['user_idx', 'book_idx', 'rating'])

# Group by user_idx and retrieve the top 10 books for each user, sorted by rating
top_10_books_per_user = (
    df.groupby('user_idx')
      .apply(lambda x: x.nlargest(10, 'rating'))
      .reset_index(drop=True)
)

top_10_books_per_user.head(20)

C:\Users\rayna\AppData\Local\Temp\ipykernel_20572\2920910796.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.nlargest(10, 'rating'))

    user_idx  book_idx  rating
0          0      6509     5.0
1          0        20     5.0
2          1     19267     5.0
3          1       777     5.0
4          2      1627     5.0
5          2     28216     5.0
6          3       777     5.0
7          3      3330     5.0
8          4       333     5.0
9          4      3330     5.0
10         5       133     5.0
11         5       127     5.0
12         6       776     5.0
13         6       777     5.0
14         7         0     5.0
15         7        20     5.0
16         8     13785     5.0
17         8         0     5.0
18         9       248     5.0
19         9       777     5.0

## Attempted to use multiple CPU cores to process in parallel

In [ ]:
import multiprocessing 
from multiprocessing import Pool
Num_core = multiprocessing.cpu_count()
Num_core

8

In [ ]:
def process_batch(model, batch):
    """Process a single batch for prediction."""
    model.eval()
    user_idx = batch['user_idx']
    book_idx = batch['book_idx']
    meta_data = batch['book_meta']
    
    # Perform the prediction for this batch
    with torch.no_grad():
        outputs = model(user_idx, book_idx, meta_data)
    
    # Return the predictions as a list of tuples
    return list(zip(user_idx.numpy(), book_idx.numpy(), outputs.numpy()))

def parallel_generate_predictions(model, data_loader, num_processes):
    """Generate predictions in parallel using multiple processes."""
    
    # Split data_loader into chunks (you can adjust chunk size depending on your system's capacity)
    data_chunks = [list(data_loader)[i::num_processes] for i in range(num_processes)]
    
    # Create a pool of processes and map the data chunks to processes
    with Pool(processes=num_processes) as pool:
        # Pass the model and data chunk to each worker process
        results = pool.starmap(process_batch, [(model, chunk) for chunk in data_chunks])
    
    # Flatten the list of results and return all predictions
    return [item for sublist in results for item in sublist]

# Set the number of CPU cores to use
num_cores = multiprocessing.cpu_count()  # Example: 8 CPUs

# Generate predictions using multiprocessing
# test_predictions = parallel_generate_predictions(model, test_loader, num_cores)